<div id="<%= dom_id app_config %>">
  <p>
    <strong>Title:</strong>
    <%= app_config.title %>
  </p>

  <p>
    <strong>Broser tab name:</strong>
    <%= app_config.broser_tab_name %>
  </p>

  <p>
    <strong>Favicon:</strong>
    <%= app_config.favicon %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= app_config.logo %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= app_config.organisation_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= app_config.contact_id %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= app_config.contact_email %>
  </p>

  <p>
    <strong>Award list:</strong>
    <%= app_config.award_list %>
  </p>

  <p>
    <strong>Synon list:</strong>
    <%= app_config.synon_list %>
  </p>

</div>
