<div class="container">
  <h5>Editing app config</h5>
  <%= form_with model: @app_config do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :browser_tab_name, style: "display: block" %>
    <%= form.text_field :browser_tab_name %>
  </div>

  <div>
    <%= form.label :organisation_id, style: "display: block" %>
    <%= form.number_field :organisation_id %>
  </div>

  <div>
    <%= form.label :contact_id, style: "display: block" %>
    <%= form.number_field :contact_id %>
  </div>

  <div>
    <%= form.label :contact_email, style: "display: block" %>
    <%= form.text_field :contact_email %>
  </div>

  <div>
    <%= form.label :award_list, style: "display: block" %>
    <%= form.text_field :award_list %>
  </div>

  <div>
    <%= form.label :synon_list, style: "display: block" %>
    <%= form.text_field :synon_list %>
  </div>
  
  <div class="field">
    <%= form.label :navbar_image %>
    <%= form.file_field :navbar_image %>
  </div>
  
  <div class="field">
    <%= form.label :favicon_image %>
    <%= form.file_field :favicon_image %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
  
  <% end %>
</div>
