<p style="color: green"><%= notice %></p>

<%= render @app_config %>

<div>
  <%= link_to "Edit this app config", edit_app_config_path(@app_config) %> |
  <%= link_to "Back to app configs", app_configs_path %>

  <%= button_to "Destroy this app config", @app_config, method: :delete %>
</div>
