<div id="<%= dom_id article_theme %>">
  <p>
    <strong>Doi:</strong>
    <%= article_theme.doi %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= article_theme.phase %>
  </p>

  <p>
    <strong>Collaboration:</strong>
    <%= article_theme.collaboration %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= article_theme.theme_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= article_theme.article_id %>
  </p>

  <p>
    <strong>Project year:</strong>
    <%= article_theme.project_year %>
  </p>

</div>
