<p id="notice"><%= notice %></p>

<h1>Article Themes</h1>

<table>
  <thead>
    <tr>
      <th>Article ID</th>
      <th>DOI</th>
      <th>Phase</th>
      <th>Collaboration</th>
      <th>Theme</th>
      <th>Project year</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% article_themes.each do |article_theme| %>
      <tr>
        <td><%= article_theme.article_id %></td>
        <td><%= article_theme.doi %></td>
        <td><%= article_theme.phase %></td>
        <td><%= article_theme.collaboration %></td>
        <td><%= article_theme.theme.name %> (<%= article_theme.theme_id %>)</td>
        <td><%= article_theme.project_year %></td>
        <td><%= link_to 'Destroy', article_theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article Theme', new_article_theme_path %>
