<p style="color: green"><%= notice %></p>

<%= render @article_theme %>

<div>
  <%= link_to "Edit this article theme", edit_article_theme_path(@article_theme) %> |
  <%= link_to "Back to article themes", article_themes_path %>

  <%= button_to "Destroy this article theme", @article_theme, method: :delete %>
</div>
