<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cr_afiliation.name %>
</p>

<p>
  <strong>Article author:</strong>
  <%= @cr_afiliation.article_author_id %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @cr_afiliation.affiliation_id %>
</p>

<%= link_to 'Edit', edit_cr_afiliation_path(@cr_afiliation) %> |
<%= link_to 'Back', cr_afiliations_path %>
