<%= form_with(model: author_affiliation) do |form| %>
  <% if author_affiliation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author_affiliation.errors.count, "error") %> prohibited this author_affiliation from being saved:</h2>

      <ul>
        <% author_affiliation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :article_author_id, style: "display: block" %>
    <%= form.number_field :article_author_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :short_name, style: "display: block" %>
    <%= form.text_field :short_name %>
  </div>

  <div>
    <%= form.label :add_01, style: "display: block" %>
    <%= form.text_field :add_01 %>
  </div>

  <div>
    <%= form.label :add_02, style: "display: block" %>
    <%= form.text_field :add_02 %>
  </div>

  <div>
    <%= form.label :add_03, style: "display: block" %>
    <%= form.text_field :add_03 %>
  </div>

  <div>
    <%= form.label :add_04, style: "display: block" %>
    <%= form.text_field :add_04 %>
  </div>

  <div>
    <%= form.label :add_05, style: "display: block" %>
    <%= form.text_field :add_05 %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :province, style: "display: block" %>
    <%= form.text_field :province %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :affiliation_id, style: "display: block" %>
    <%= form.number_field :affiliation_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
