<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @author_affiliation.author_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @author_affiliation.name %>
</p>

<p>
  <strong>Add 01:</strong>
  <%= @author_affiliation.add_01 %>
</p>

<p>
  <strong>Add 02:</strong>
  <%= @author_affiliation.add_02 %>
</p>

<p>
  <strong>Add 03:</strong>
  <%= @author_affiliation.add_03 %>
</p>

<p>
  <strong>Add 04:</strong>
  <%= @author_affiliation.add_04 %>
</p>

<p>
  <strong>Add 05:</strong>
  <%= @author_affiliation.add_05 %>
</p>

<p>
  <strong>Country:</strong>
  <%= @author_affiliation.country %>
</p>

<%= link_to 'Edit', edit_author_affiliation_path(@author_affiliation) %> |
<%= link_to 'Back', author_affiliations_path %>
