<p style="color: green"><%= notice %></p>

<%= render @author_affiliation %>

<div>
  <%= link_to "Edit this author affiliation", edit_author_affiliation_path(@author_affiliation) %> |
  <%= link_to "Back to author affiliations", author_affiliations_path %>

  <%= button_to "Destroy this author affiliation", @author_affiliation, method: :delete %>
</div>
