<div id="<%= dom_id article %>">
  <p>
    <strong>Doi:</strong>
    <%= article.doi %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Pub year:</strong>
    <%= article.pub_year %>
  </p>

  <p>
    <strong>Pub type:</strong>
    <%= article.pub_type %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= article.publisher %>
  </p>

  <p>
    <strong>Container title:</strong>
    <%= article.container_title %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= article.volume %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= article.issue %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= article.page %>
  </p>

  <p>
    <strong>Pub print year:</strong>
    <%= article.pub_print_year %>
  </p>

  <p>
    <strong>Pub print month:</strong>
    <%= article.pub_print_month %>
  </p>

  <p>
    <strong>Pub print day:</strong>
    <%= article.pub_print_day %>
  </p>

  <p>
    <strong>Pub ol year:</strong>
    <%= article.pub_ol_year %>
  </p>

  <p>
    <strong>Pub ol month:</strong>
    <%= article.pub_ol_month %>
  </p>

  <p>
    <strong>Pub ol day:</strong>
    <%= article.pub_ol_day %>
  </p>

  <p>
    <strong>License:</strong>
    <%= article.license %>
  </p>

  <p>
    <strong>Referenced by count:</strong>
    <%= article.referenced_by_count %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= article.link %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= article.url %>
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= article.abstract %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= article.status %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= article.comment %>
  </p>

  <p>
    <strong>References count:</strong>
    <%= article.references_count %>
  </p>

  <p>
    <strong>Journal issue:</strong>
    <%= article.journal_issue %>
  </p>

</div>
