<!--Edit Articles -->
<ul class="nav nav-tabs" id="publications_tab" role="tablist">
  <li class="nav-item">
    <button class="nav-link" id="details-tab" data-bs-toggle="tab" href="#article_details" role="tab" aria-controls="article_details" aria-selected="true">
      Article details 
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link active" id="authors-tab" data-bs-toggle="tab" href="#authors" role="tab" aria-controls="authors" aria-selected="false">
      Authors (<%= @article.article_authors.count %>)
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="themes-tab" data-bs-toggle="tab" href="#themes" role="tab" aria-controls="themes" aria-selected="false">
      Themes (<%= @article.themes.count %>)
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane form-inline fade" id="article_details" role="tabpanel" aria-labelledby="article_details-tab">
    <%= render 'form_article_detail', article: @article%> 
  </div>
  <div class="tab-pane fade" id="themes" role="tabpanel" aria-labelledby="themes-tab">
     <%= render 'form_article_theme', article: @article %> 
  </div>
  <div class="tab-pane fade show active" id="authors" role="tabpanel" aria-labelledby="authors-tab">
    <%= render '/article_authors/form_verify', article_authors: @article.article_authors %>
  </div>
</div>
