<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :doi, style: "display: block" %>
    <%= form.text_field :doi %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :pub_year, style: "display: block" %>
    <%= form.number_field :pub_year %>
  </div>

  <div>
    <%= form.label :pub_type, style: "display: block" %>
    <%= form.text_field :pub_type %>
  </div>

  <div>
    <%= form.label :publisher, style: "display: block" %>
    <%= form.text_field :publisher %>
  </div>

  <div>
    <%= form.label :container_title, style: "display: block" %>
    <%= form.text_field :container_title %>
  </div>

  <div>
    <%= form.label :volume, style: "display: block" %>
    <%= form.text_field :volume %>
  </div>

  <div>
    <%= form.label :issue, style: "display: block" %>
    <%= form.text_field :issue %>
  </div>

  <div>
    <%= form.label :page, style: "display: block" %>
    <%= form.text_field :page %>
  </div>

  <div>
    <%= form.label :pub_print_year, style: "display: block" %>
    <%= form.number_field :pub_print_year %>
  </div>

  <div>
    <%= form.label :pub_print_month, style: "display: block" %>
    <%= form.number_field :pub_print_month %>
  </div>

  <div>
    <%= form.label :pub_print_day, style: "display: block" %>
    <%= form.number_field :pub_print_day %>
  </div>

  <div>
    <%= form.label :pub_ol_year, style: "display: block" %>
    <%= form.number_field :pub_ol_year %>
  </div>

  <div>
    <%= form.label :pub_ol_month, style: "display: block" %>
    <%= form.number_field :pub_ol_month %>
  </div>

  <div>
    <%= form.label :pub_ol_day, style: "display: block" %>
    <%= form.number_field :pub_ol_day %>
  </div>

  <div>
    <%= form.label :license, style: "display: block" %>
    <%= form.text_field :license %>
  </div>

  <div>
    <%= form.label :referenced_by_count, style: "display: block" %>
    <%= form.number_field :referenced_by_count %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :abstract, style: "display: block" %>
    <%= form.text_area :abstract %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.label :references_count, style: "display: block" %>
    <%= form.number_field :references_count %>
  </div>

  <div>
    <%= form.label :journal_issue, style: "display: block" %>
    <%= form.text_field :journal_issue %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
