<ul class="nav nav-tabs" id="publicationsTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#article_details" role="tab" aria-controls="article_details" aria-selected="true">Article details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="authors-tab" data-toggle="tab" href="#authors" role="tab" aria-controls="authors" aria-selected="false">
      Authors (<%= @article.article_authors.count %>)
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane form-inline fade show active" id="article_details" role="tabpanel" aria-labelledby="article_details-tab">
    <%= form_with(model: article, local: true) do |form| %>
      <% if article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
          <ul>
            <% article.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-row">
        <div class="col-md-2">
          <%= form.label :doi, "DOI " %>
          <%= form.text_field :doi %>
        </div>
        <div class="col-md-8">
          <%= form.label :title %>
          <%= form.text_field :title, :size=>"fill" %>
        </div>
        <div class="col-md-2">
          <%= form.label :pub_year %>
          <%= form.text_field :pub_year %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <%= form.label :link %>
          <%= form.text_field :link %>
        </div>
        <div class="col-md-6">
          <%= form.label :url, "URL" %>
          <%= form.text_field :url %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 form-group">
          <%= form.label :publisher %>
          <%= form.text_field :publisher %>
        </div>
        <div class="col-md-4 form-group">
          <%= form.label :container_title %>
          <%= form.text_field :container_title %>
        </div>
        <div class="col-md-1 form-group">
          <%= form.label :volume %>
          <%= form.text_field :volume %>
        </div>
        <div class="col-md-1 form-group">
          <%= form.label :issue %>
          <%= form.text_field :issue %>
        </div>
        <div class="col-md-2 form-group">
          <%= form.label :page %>
          <%= form.text_field :page %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-2 form-group">
          <%= form.label :pub_type %>
          <%= form.text_field :pub_type %>
        </div>
        <div class="col-md-2 form-group">
          <%= form.label :reference_count %>
          <%= form.number_field :reference_count %>
        </div>
        <div class="col-md-8 form-group">
          <%= form.label :license %>
          <%= form.text_field :license %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-1 form-group">
          <b>Print</b>
        </div>
        <div class="col-md-1 form-group">
          <%= form.label :pub_print_year, "Year" %>
          <%= form.number_field :pub_print_year %>
        </div>
        <div class="col-md-1 form-group">
          <%= form.label :pub_print_month, "Month" %>
          <%= form.number_field :pub_print_month %>
        </div>
        <div class="col-md-1 form-group">
          <%= form.label :pub_print_day, "Day" %>
          <%= form.number_field :pub_print_day %>
        </div>
        <div class="col-md-1 form-group">
          <b>Online</b>
        </div>
        <div class="col-md-1 form-group">
          <%= form.label :pub_ol_year, "Year" %>
          <%= form.number_field :pub_ol_year %>
        </div>
        <div class="col-md-1 form-group">
          <%= form.label :pub_ol_month, "Month" %>
          <%= form.number_field :pub_ol_month %>
        </div>
        <div class="col-md-1 form-group">
          <%= form.label :pub_ol_day, "Day" %>
          <%= form.number_field :pub_ol_day %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :abstract %>
        <%= form.text_area :abstract %>
      </div>
      <div class="form-row">
        <div class="col-md-2 form-group">
          <%= form.label :status %>
          <%= form.text_field :status %>
        </div>
        <div class="col-md-8 form-group">
          <%= form.label :comment %>
          <%= form.text_field :comment %>
        </div>
        <div class="col-md-2 actions">
          <%= form.submit %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="authors" role="tabpanel" aria-labelledby="authors-tab">
    <div class="accordion" id="accordionAuthors">
      <% for auth in @article.article_authors %>
        <%= render '/article_authors/form_verify_accordion', article_author: auth %>
      <% end %>
    </div><!--end of authors accordion -->
    <ul class="nav nav-tabs" id="author-tabs" role="tablist">
      <% for auth in @article.article_authors %>
        <li class="nav-item">
          <a class="nav-link<%= auth.author_seq.downcase == "first" ? " active":"" %>" id="auth<%= auth.id %>-tab" data-toggle="tab" href="#auth<%= auth.id %>" role="tab" aria-controls="auth<%= auth.id %>" aria-selected="true">
            <%= auth.given_name %> <%= auth.last_name %>
          </a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content" id="authorTabContent">
      <% for auth in @article.article_authors %>
        <div class="tab-pane fade<%= auth.author_seq.downcase == "first" ? " show active":"" %>" id="auth<%= auth.id %>" role="tabpanel" aria-labelledby="auth<%= auth.id %>-tab">
          <%= render '/article_authors/form_verify_tab', article_author: auth %>
        </div>
      <% end %>
    </div>
  </div>
</div>
