    <div class="field">
      <%= form.label :publisher %>
      <%= form.text_field :publisher %>
    </div>
    <div class="field">
      <%= form.label :container_title %>
      <%= form.text_field :container_title %>
    </div>
    <div class="field">
      <%= form.label :volume %>
      <%= form.text_field :volume %>
    </div>
    <div class="field">
      <%= form.label :journal_issue %>
      <%= form.text_field :journal_issue %>
    </div>
    <div class="field">
      <%= form.label :issue %>
      <%= form.text_field :issue %>
    </div>
    <div class="field">
      <%= form.label :page %>
      <%= form.text_field :page %>
    </div>
    <div class="field">
      <%= form.label :pub_print_year %>
      <%= form.number_field :pub_print_year %>
    </div>
    <div class="field">
      <%= form.label :pub_print_month %>
      <%= form.number_field :pub_print_month %>
    </div>

    <div class="field">
      <%= form.label :pub_print_day %>
      <%= form.number_field :pub_print_day %>
    </div>
    <div class="field">
      <%= form.label :pub_type %>
      <%= form.text_field :pub_type %>
    </div>
    <div class="field">
      <%= form.label :reference_count %>
      <%= form.number_field :reference_count %>
    </div>
    <div class="field">
      <%= form.label :license %>
      <%= form.text_field :license %>
    </div>
    <div class="field">
      <%= form.label :pub_ol_year %>
      <%= form.number_field :pub_ol_year %>
    </div>
    <div class="field">
      <%= form.label :pub_ol_month %>
      <%= form.number_field :pub_ol_month %>
    </div>
    <div class="field">
      <%= form.label :pub_ol_day %>
      <%= form.number_field :pub_ol_day %>
    </div>
