 <ul class="nav nav-tabs" id="publicationsTab" role="tablist">
   <li class="nav-item">
     <a class="nav-link active" id="home-tab" data-toggle="tab" href="#browse" role="tab" aria-controls="browse" aria-selected="true">Browse</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" id="profile-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="statistics" aria-selected="false">Statistics</a>
   </li>
   <% if user_signed_in? %>
   <li class="nav-item">
     <a class="nav-link" id="inactive-tab" data-toggle="tab" href="#inactive" role="tab" aria-controls="inactive" aria-selected="false">inactive</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" id="actions-tab" data-toggle="tab" href="#actions" role="tab" aria-controls="inactive" aria-selected="false">Actions</a>
   </li>
   <% end %>
 </ul>
 <div class="tab-content" id="myTabContent">
   <div class="tab-pane fade show active" id="browse" role="tabpanel" aria-labelledby="browse-tab">
     <div class="row">
       <div class="col-md-12">
         <!-- Top DIV: search, order, reset -->
         <p id="notice"><%= notice %></p>
           <%= form_tag nil, method: :get do %>
            <!-- Field for searching by title -->
             <%= hidden_field_tag 'search[order]', @search.order.definition.request_value if @search.order %>
             <div class="row">
               <div class="col-md-1">
                 <b> Search: </b>
               </div>
               <div class="col-md-5">
                 <% title_filter = @search.filter(:title) %>
                 <%= text_field_tag 'search[title]', title_filter.value, class: 'form-control', placeholder: title_filter.name %>
               </div>
               <div class="col-md-4">
                 <!-- Set sort order -->
                   <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"> sort by: <%= @search.order.title if @search.order %>
                   <span class="caret"></span></button>
                   <ul class="dropdown-menu">
                     <% @search.orders.reject(&:active).each do |order| %>
                     <li> <%= link_to order.title, order.by.path %> </li>
                     <% end %>
                   </ul>
               </div>
               <div class="col-md-2">
                 <%= link_to 'reset', '?', class: 'btn  btn-success float-right' %>
               </div>
             </div>
           <% end %>
       </div>
     </div>
     <br/>
     <div class="row">
       <div class="col-md-3">
         <!-- left DIV: facet filters -->
           <%= form_tag nil, method: :get do %>
             <!-- Field for searching by title -->
             <%= hidden_field_tag 'search[order]', @search.order.definition.request_value if @search.order %>
             <!-- Facet filter for publisher -->
               <% [:container_title].each do |filter_name| %>
                  <% filter = @search.filter(filter_name) %>
                  <div class="filter">
                    <div class="filter-title">
                      <%= filter.name %>
                      <span class="small text-muted">
                        <%= "(#{filter.facet.length})" %>
                      </span>
                    </div>
                    <div class="filter-values">
                      <ul class="selected">
                        <% filter.selected.each do |entity| %>
                          <% display = entity %>
                          <li>
                            <%= link_to display, filter.remove(entity).path %>
                          </li>
                        <% end %>
                      </ul>
                      <ul class="selectable">
                        <% filter.facet.reject(&:selected).each do |facet_value| %>
                          <% entity = facet_value.entity %>
                          <li>
                            <% display = entity %>
                            <%= link_to display, filter.add(entity).path %>
                            <span class="count">
                              <%= "(#{facet_value.count})" %>
                            </span>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
        <div class="col-md-9">
          <!-- right DIV: results list -->
          <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% if user_signed_in? %>
            <%= link_to 'New Article', new_article_path, :class => "btn btn-success btn-sm float-right" %>
          <% end %>
          <b> <%= @articles.count%> publications found  </b>
          <br/>
          <br/>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Publications</th>
              </tr>
            </thead>
            <tbody>
              <% @articles.each do |article| %>
                <tr>
                  <td>
                    <b>Title:</b> <%= link_to(article.title, article) %> <b>Year:</b> <%= article.pub_ol_year == nil ? article.pub_print_year : article.pub_ol_year %>
                    <b>Authors (<%= article.authors.count %>):</b>
                    <% author_links = article.article_authors.all
                       disp_names = ""
                       for auth in author_links
                         pr_name = auth.author.given_name
                         pr_name = pr_name.gsub(/\w+/){|s| "#{s[0].upcase}. "}.sub(/\w+\z/, &:capitalize).sub(' .',' ')
                         pr_name += auth.author.last_name
                         if disp_names =="" then
                           disp_names = link_to(pr_name, auth.author)
                         else
                           disp_names += ', '.html_safe + link_to(pr_name, auth.author)
                         end
                       end %>
                    <%= disp_names.to_s.html_safe %>
                    <b>Publisher:</b> <%= article.container_title %>
                    <b>DOI: </b><%= article.doi %> <%= article.pub_type %>
                    <% theme_links = article.article_themes.all
                      disp_themes = ""
                      for theme_lnk in theme_links
                        theme_name = theme_lnk.theme.short
                        theme_string = theme_lnk.theme.short + " ("+ theme_lnk.project_year.to_s() +")"
                        if disp_themes =="" then
                          disp_themes = link_to(theme_string, theme_lnk.theme)
                        else
                          disp_themes += ', '.html_safe + link_to(theme_string, theme_lnk.theme)
                        end
                      end
                     %>
                     <b>Themes: </b> <%= disp_themes.to_s.html_safe %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
   </div>
   <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
     <div class="row px-1 my-3">
       <div class="col-sm-6 col-lg-7">
         <div class="card">
           <div class="card-header bg-light">
             <h6 style= "margin:auto">Recent publications</h6>
           </div>
           <div class="card-body p-0" style= "margin:auto">
             <%= render partial: 'articles/articles_recent', locals: {articles: Article.latest.limit(5) }%>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-lg-5">
         <div class="card">
           <div class="card-header">
             <h6 style= "margin:auto">Publications by theme</h6>
           </div>
           <div class="card-body p-0">
             <%= pie_chart Theme.joins(:articles).group(:short).order(:id).count(), donut: true,  legend: "right" %>
           </div>
         </div>
       </div>
     </div>
     <div class="row px-1 my-3">
       <div class="col-sm-6 col-lg-7">
         <div class="card">
           <div class="card-header">
             <h6 style= "margin:auto">Most cited publications</h6>
           </div>
           <div class="card-body p-0">
             <%= render partial: 'articles/articles_referenced', locals: {articles: Article.most_cited.limit(5) }%>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-lg-5">
         <div class="card">
           <div class="card-header">
             <h6 style= "margin:auto">Publications by year</h6>
           </div>
           <div class="card-body p-0">
             <% arts_by_year = Article.where(:status => "Added").group(:pub_year).count %>
             <%= column_chart arts_by_year %>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="tab-pane fade" id="inactive" role="tabpanel" aria-labelledby="inactive-tab">
     <div class="card">
       <div class="card-header bg-light">
         <h6 style= "margin:auto">Inactive publications</h6>
       </div>
       <div class="card-body p-0" style= "margin:auto">
         <%= render partial: 'articles/articles_inactive', locals: {articles: Article.inactive}%>
       </div>
     </div>
   </div>
   <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
     <div class="row">
       <div class="col-md-12">
         <p>The actions below are scheduled and processed in the background</p>
       </div>
     </div>
     <div class="row">
       <div class="col-md-1">
       </div>
       <div class="col-md-3">
         <p>Verify CR changes</p>
       </div>
       <div class="col-md-3">
         <%= button_to "Verify", {:action => "verify", :controller => "articles"}, :class => 'btn  btn-success float-right'  %>
       </div>
     </div>
   </div>
 </div>
