<div class="container">
  <p id="notice"><%= notice %></p>
  <h3> <strong>Title:</strong>   <%= @article.title %>  </h3>
  <p>
    <% if @article.authors.count > 0 %>
    <b>Authors (<%= @article.authors.count %>):</b>
    <% author_links = @article.article_authors.all
       disp_names = ""
       puts @article.authors.count
       for auth in author_links
         if auth.author.given_name != nil
           pr_name = auth.author.given_name.gsub('á','a').gsub('é','e').gsub('í','i').gsub('ó','o').gsub('ú','u')
           pr_name = pr_name.gsub(/\w+/){|s| "#{s[0].upcase}. "}.sub(/\w+\z/, &:capitalize).sub(' .',' ')
           pr_name += auth.author.last_name
           if disp_names =="" then
             disp_names = link_to(pr_name, auth.author)
           else
             disp_names += ', '.html_safe + link_to(pr_name, auth.author)
           end
         end
       end %>
    <%= disp_names.to_s.html_safe %>
    <% end %>
  </p>
  <p>
    <% theme_links = @article.article_themes.all
      disp_themes = ""
      for theme_lnk in theme_links
        theme_name = theme_lnk.theme.short
        theme_string = theme_lnk.theme.short + " ("+ theme_lnk.project_year.to_s() +")"
        if disp_themes =="" then
          disp_themes = link_to(theme_string, theme_lnk.theme)
        else
          disp_themes += ', '.html_safe + link_to(theme_string, theme_lnk.theme)
        end
      end
     %>
     <b>Themes: </b> <%= disp_themes.to_s.html_safe %>
  </p>
  <p>
    <strong>DOI:</strong> <%= @article.doi %>
  </p>
  <p>
    <strong>Citations:</strong> <%= @article.referenced_by_count %>
  </p>
  <p>
    <strong>Pub type:</strong>
    <%= @article.pub_type %>
  </p>
  <div class="accordion" id="publicationsAccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePublication" aria-expanded="true" aria-controls="collapsePublication">
          Publisher Details
        </button>
      </div>
      <div id="collapsePublication" class="collapse show" aria-labelledby="headingOne" data-parent="#publicationsAccordion">
        <div class="card-body">
          <p>
            <strong>Publisher:</strong>
            <%= @article.publisher %>
          </p>
          <p>
            <strong>Issue:</strong>
            <%= @article.issue %>
          </p>

          <p>
            <strong>License:</strong>
            <%= @article.license %>
          </p>
          <p>
            <strong>Publication date(s):</strong>
            <%
              p_date_s = ""
              if @article.pub_print_year != nil then
                p_date_s = "%04d" % @article.pub_print_year
              end
              if @article.pub_print_month != nil then
                p_date_s += "/%02d" % @article.pub_print_month
              end
              if @article.pub_print_day != nil then
                p_date_s += "/%02d" % @article.pub_print_day
              end
              if p_date_s != "" then
                p_date_s += " (print) "
              end
              o_date_s = ""
              if @article.pub_ol_year != nil then
                o_date_s = "%04d" % @article.pub_ol_year
              end
              if @article.pub_ol_month != nil then
                o_date_s += "/%02d" % @article.pub_ol_month
              end
              if @article.pub_ol_day != nil then
                o_date_s += "/%02d" % @article.pub_ol_day
              end
              if o_date_s != "" then
                o_date_s += " (online)"
              end
            %>
            <%= p_date_s + o_date_s %>
          </p>
          <p>
            <strong>Pages:</strong>
            <%= @article.page %>
          </p>
          <p>
            <strong>Volume:</strong>
            <%= @article.volume %>
            <strong>Issue:</strong>
            <%= @article.journal_issue %>
          </p>
          <p>
            <strong>Journal:</strong>
            <%= @article.container_title %>
          </p>
          <p>
            <strong>Link:</strong>
            <%= link_to @article.link, @article.link, target: "_blank", rel: "nofollow"  %>
          </p>
            <strong>URL:</strong>
            <% if  @article.url %>
            <%= link_to @article.url, @article.url.html_safe, target: "_blank", rel: "nofollow" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="abstractHeading">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAbstract" aria-expanded="false" aria-controls="collapseAbstract">
          Abstract
        </button>
      </div>
      <div id="collapseAbstract" class="collapse" aria-labelledby="abstractHeading" data-parent="#publicationsAccordion">
        <div class="card-body">
          <p>
            <% if @article.abstract %>
            <%= @article.abstract.html_safe %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary btn-sm" %>
    <%= link_to 'New Article', new_article_path, :class => "btn btn-success btn-sm float-right" %>
  <% end %>

  <%= link_to 'Back', articles_path, :class => "btn btn-secondary btn-sm" %>
