<!-- Show article details-->
<div class="container">
  <p id="notice"><%= notice %></p>
  <h3> <strong>Title:</strong>   <%= @article.title.html_safe %>  </h3>
  <p>
    <% if @article.authors.count > 0 %>
    <b>Authors (<%= @article.authors.count %>):</b>
    <% author_links = @article.article_authors.all
       disp_names = ""
       for auth in author_links
         if auth.author.given_name != nil
           pr_name = auth.author.given_name.gsub('á','a').gsub('é','e').gsub('í','i').gsub('ó','o').gsub('ú','u')
           pr_name = pr_name.gsub(/\w+/){|s| "#{s[0].upcase}. "}.sub(/\w+\z/, &:capitalize).sub(' .',' ')
           pr_name += auth.author.last_name
           this_name = pr_name
           if auth.author.isap == true
	     this_name = link_to(pr_name, auth.author)
	   end 
           if disp_names =="" then
             disp_names = this_name
           else
             disp_names += ', '.html_safe + this_name
           end
         end
       end %>
    <%= disp_names.to_s.html_safe %>
    <% end %>
  </p>
  <p>
    <% theme_links = @article.article_themes.all
      disp_themes = ""
      for theme_lnk in theme_links
        theme_name = theme_lnk.theme.short
        theme_string = theme_lnk.theme.short + " ("+ theme_lnk.project_year.to_s() +")"
        if disp_themes =="" then
          disp_themes = link_to(theme_string, theme_lnk.theme)
        else
          disp_themes += ', '.html_safe + link_to(theme_string, theme_lnk.theme)
        end
      end
     %>
     <% if get_theme_section.visible %>
     <b>Themes: </b> <%= disp_themes.to_s.html_safe %>
     <% end %>
  </p>
  <% if @article.graphic_abstract != nil then%>
  <%    src_str = @article.graphic_abstract  %>
  <div>
      <%= image_tag src_str,alt: "Graphic Abstract", class:"img-fluid" %>
  </div>
  <% end %>
  
  <p>
    <strong>DOI:</strong> <%= @article.doi %>
  </p>
  <p>
    <strong>Citations:</strong> <%= @article.referenced_by_count %>
  </p>
  <p>
    <strong>Pub type:</strong>
    <%= @article.pub_type %>
  </p>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        Publisher Details
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <p>
          <strong>Publisher:</strong>
          <%= @article.publisher %>
        </p>
        <p>
          <strong>Issue:</strong>
          <%= @article.issue %>
        </p>
        <p>
          <strong>License:</strong>
          <%= @article.license %>
        </p>
        <p>
          <strong>Publication date(s):</strong>
          <%
            p_date_s = ""
            if @article.pub_print_year != nil then
              p_date_s = "%04d" % @article.pub_print_year
            end
            if @article.pub_print_month != nil then
              p_date_s += "/%02d" % @article.pub_print_month
            end
            if @article.pub_print_day != nil then
              p_date_s += "/%02d" % @article.pub_print_day
            end
            if p_date_s != "" then
              p_date_s += " (print) "
            end
            o_date_s = ""
            if @article.pub_ol_year != nil then
              o_date_s = "%04d" % @article.pub_ol_year
            end
            if @article.pub_ol_month != nil then
              o_date_s += "/%02d" % @article.pub_ol_month
            end
            if @article.pub_ol_day != nil then
              o_date_s += "/%02d" % @article.pub_ol_day
            end
            if o_date_s != "" then
              o_date_s += " (online)"
            end
           %>
          <%= p_date_s + o_date_s %>
        </p>
        <p>
          <strong>Pages:</strong>
          <%= @article.page %>
        </p>
        <p>
          <strong>Volume:</strong>
          <%= @article.volume %>
          <strong>Issue:</strong>
          <%= @article.journal_issue %>
        </p>
        <p>
          <strong>Journal:</strong>
          <%= @article.container_title %>
        </p>
        <p>
          <strong>Link:</strong>
          <%= link_to @article.link, @article.link, target: "_blank", rel: "nofollow"  %>
        </p>
          <strong>URL:</strong>
          <% if  @article.url %>
          <%= link_to @article.url, @article.url.html_safe, target: "_blank", rel: "nofollow" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <% if @article.abstract != nil and @article.abstract != "" %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Abstract
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <p> <%= @article.abstract.html_safe %> </p>
      </div>
    </div>
  </div>
  <% end %>
  <% if get_do_section.visible %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Associated Data Objects
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <p>
          <% if @article.datasets.count > 0 %>
            <%= render partial: 'datasets/dataobject_list', locals: {data_objects: @article.datasets }%>
            <% else @article.datasets.count > 0 %>
              <%= "There are no objects associated to this publication" %>
            <% end %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br/>
  <% @next = Article.find_by('id > ?', @article.id)
     art_id = @article.id
     @prev = nil
     while @prev.nil?
       art_id = art_id -1
       @prev = Article.find_by('id = ?', art_id)
       if art_id < 1
         break
       end
     end
  %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary btn-sm" %>
    <%= link_to 'New Article', new_article_path, :class => "btn btn-success btn-sm float-right" %>
  <% end %>
  <% if not @prev.nil? %>
    <%= link_to '<< Previous', {controller: "articles", action: "show", id: @prev}, :class => "btn btn-success btn-sm float-right" %>
  <% end %>  

  <%= link_to 'Back', articles_path, :class => "btn btn-secondary btn-sm" %>
  <% if not @next.nil? %>
    <%= link_to 'Next >>', {controller: "articles", action: "show", id: @next}, :class => "btn btn-success btn-sm float-right" %>
  <% end %>  
</div>
