<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Reference count:</strong>
    <%= @article.reference_count %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= @article.publisher %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= @article.issue %>
  </p>

  <p>
    <strong>License:</strong>
    <%= @article.license %>
  </p>

  <p>
    <strong>Pub print year:</strong>
    <%= @article.pub_print_year %>
  </p>

  <p>
    <strong>Pub print month:</strong>
    <%= @article.pub_print_month %>
  </p>

  <p>
    <strong>Pub print day:</strong>
    <%= @article.pub_print_day %>
  </p>

  <p>
    <strong>Doi:</strong>
    <%= @article.doi %>
  </p>

  <p>
    <strong>Pub type:</strong>
    <%= @article.pub_type %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= @article.page %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= @article.volume %>
  </p>

  <p>
    <strong>Pub ol year:</strong>
    <%= @article.pub_ol_year %>
  </p>

  <p>
    <strong>Pub ol month:</strong>
    <%= @article.pub_ol_month %>
  </p>

  <p>
    <strong>Pub ol day:</strong>
    <%= @article.pub_ol_day %>
  </p>

  <p>
    <strong>Container title:</strong>
    <%= @article.container_title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= @article.link %>
  </p>

  <p>
    <strong>References count:</strong>
    <%= @article.references_count %>
  </p>

  <p>
    <strong>Journal issue:</strong>
    <%= @article.journal_issue %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @article.url %>
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= @article.abstract %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @article.status %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @article.comment %>
  </p>

  <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary btn-sm" %> 
  <%= link_to 'Back', articles_path, :class => "btn btn-secondary btn-sm" %>
</div>
