<div class="container">
  <p id="notice"><%= notice %></p>
  <h3> <strong>Title:</strong>   <%= @article.title %>  </h3>
  <p>
    <b>Authors (<%= @article.authors.count %>):</b>
    <% author_links = @article.article_authors.all
       disp_names = ""
       for auth in author_links
         pr_name = auth.author.given_name
         pr_name = pr_name.gsub(/\w+/){|s| "#{s[0].upcase}. "}.sub(/\w+\z/, &:capitalize).sub(' .',' ')
         pr_name += auth.author.last_name
         if disp_names =="" then
           disp_names = link_to(pr_name, auth.author)
         else
           disp_names += ', '.html_safe + link_to(pr_name, auth.author)
         end
       end %>
    <%= disp_names.to_s.html_safe %>
  </p>
  <p>
    <% theme_links = @article.article_themes.all
      disp_themes = ""
      for theme_lnk in theme_links
        theme_name = theme_lnk.theme.short
        theme_string = theme_lnk.theme.short + " ("+ theme_lnk.project_year.to_s() +")"
        if disp_themes =="" then
          disp_themes = link_to(theme_string, theme_lnk.theme)
        else
          disp_themes += ', '.html_safe + link_to(theme_string, theme_lnk.theme)
        end
      end
     %>
     <b>Themes: </b> <%= disp_themes.to_s.html_safe %>
  </p>
  <p>
    <strong>Reference count:</strong>
    <%= @article.reference_count %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= @article.publisher %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= @article.issue %>
  </p>

  <p>
    <strong>License:</strong>
    <%= @article.license %>
  </p>

  <p>
    <strong>Pub print year:</strong>
    <%= @article.pub_print_year %>
  </p>

  <p>
    <strong>Pub print month:</strong>
    <%= @article.pub_print_month %>
  </p>

  <p>
    <strong>Pub print day:</strong>
    <%= @article.pub_print_day %>
  </p>

  <p>
    <strong>Doi:</strong>
    <%= @article.doi %>
  </p>

  <p>
    <strong>Pub type:</strong>
    <%= @article.pub_type %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= @article.page %>
  </p>


  <p>
    <strong>Volume:</strong>
    <%= @article.volume %>
  </p>

  <p>
    <strong>Pub ol year:</strong>
    <%= @article.pub_ol_year %>
  </p>

  <p>
    <strong>Pub ol month:</strong>
    <%= @article.pub_ol_month %>
  </p>

  <p>
    <strong>Pub ol day:</strong>
    <%= @article.pub_ol_day %>
  </p>

  <p>
    <strong>Container title:</strong>
    <%= @article.container_title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= @article.link %>
  </p>

  <p>
    <strong>References count:</strong>
    <%= @article.references_count %>
  </p>

  <p>
    <strong>Journal issue:</strong>
    <%= @article.journal_issue %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @article.url %>
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= @article.abstract %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @article.status %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @article.comment %>
  </p>
  <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary btn-sm" %>
  <%= link_to 'Back', articles_path, :class => "btn btn-secondary btn-sm" %>
</div>
