<div id="<%= dom_id theme %>">
  <p>
    <strong>Short:</strong>
    <%= theme.short %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= theme.name %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= theme.lead %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= theme.phase %>
  </p>

  <p>
    <strong>Used:</strong>
    <%= theme.used %>
  </p>

</div>
