<!--Browse themes-->
<div class="rounded border-light bg-light container ">
  <div class="container">
    <h5>UK Catalysis Hub Themes</h5>
      <p>
        UK Catalysis Hub research activities are organised in <b> <%= Theme.where("phase != 0").count() %> themes
	( <%= Theme.where("phase = 1").count() %> Phase I and <%= Theme.where("phase = 2").count() %> Phase II) </b>. 
	The theme activities have produced <b><%= ListTheme.where("phase = 2").sum(:article_count) %> publications 
	in phase II </b> and <b><%= ListTheme.where("phase = 1").sum(:article_count) %> publications in phase I</b>. 
	Additionally, Non-project collaborations, Block Allocation Group Reseachers and Post-graduates have also been
	supported, producing <%= ListTheme.where("phase = 0").sum(:article_count) %> publications.
      </p>
    </div>
 </div>

<div id="themes_list" class="container">
 <ul class="nav nav-tabs" id="publicationsTab" role="tablist">
   <li class="nav-item">
     <button class="nav-link active" id="phase-ii-tab" data-bs-toggle="tab" data-bs-target="#phaseii" type="button" role="tab" aria-controls="phase " aria-selected="true">Themes Phase II (2019-2023)</button>
   </li>
   <li class="nav-item">
     <button class="nav-link" id="phase-i-tab" data-bs-toggle="tab" data-bs-target="#phasei" type="button" role="tab" aria-controls="indicators" aria-selected="true">Themes Phase I (2013-2018)</button>
   </li>
   <li class="nav-item">
     <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#nophase" type="button" role="tab" aria-controls="indicators" aria-selected="true">Collaborations, BAG, Other</button>
   </li>
 </ul>
  <p id="notice"><%= notice %></p>

<div class="tab-content" id="myTabContent">
   <div class="tab-pane fade show active" id="phaseii" role="tabpanel" aria-labelledby="phaseii-tab">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body p-0" >
            <div class = "row" >
              <div class="col-sm-6">
                <div id="top_publishers" class="container">
                  <% theme_pubs = ListTheme.where("phase = 2").collect{|th|
	          [th.name, th.article_count, th.id]} %>
	      <br/>
	      <br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                      <tr>
                        <td>
                          <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                        </td>
                        <td class="text-right">
                          <%= tpl[1] %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="col-sm-6">
	    <% # replace model with view
	      themes_list = ListTheme.where("phase = 2").collect{|th|
	        [th.short, th.article_count]} %>
	      <%= pie_chart themes_list,  legend: "right", donut: true, adapter: "google" %>
	      <p>
	      <%= link_to 'Download Data', {:action => "themes_count", :controller => "themes"}, :class => "btn-success btn-sm" %>
	      <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--tab-pane -->

    <div class="tab-pane fade" id="nophase" role="tabpanel" aria-labelledby="other-tab">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body p-0" >
            <div class = "row" >
              <div class="col-sm-6">
                <div id="top_publishers" class="container">
                  <% theme_pubs = ListTheme.where("phase = 1").collect{|th|
	          [th.name, th.article_count, th.id]} %>
	      <br/>
	      <br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                      <tr>
                        <td>
                          <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                        </td>
                        <td class="text-right">
                          <%= tpl[1] %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-6">
	    <% # replace model with view
	      themes_list = ListTheme.where("phase = 1").collect{|th|
	        [th.short, th.article_count]} %>
	      <%= pie_chart themes_list,  legend: "right", donut: true, adapter: "google"  %>
	      <p>
	      <%= link_to 'Download Data', {:action => "themes_count", :controller => "themes"}, :class => "btn-success btn-sm" %>
	      <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--tab-pane -->

    <div class="tab-pane fade" id="phasei" role="tabpanel" aria-labelledby="phasei-tab">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header bg-light">
            <h6 style= "margin:auto">Collaborations, BAG, and other</h6>
          </div>
          <div class="card-body p-0" >
            <div class = "row" >
              <div class="col-sm-6">
                <div id="top_publishers" class="container">
                  <% theme_pubs = ListTheme.where("phase = 0").collect{|th|
	          [th.name, th.article_count, th.id]} %>
	      <br/>
	      <br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                      <tr>
                        <td>
                          <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                        </td>
                        <td class="text-right">
                          <%= tpl[1] %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-6">
	    <% # replace model with view
	      themes_list = ListTheme.where("phase = 0").collect{|th|
	        [th.short, th.article_count]} %>
	      <%= pie_chart themes_list,  legend: "right", donut: true, adapter: "google"  %>
	      <p>
	      <%= link_to 'Download Data', {:action => "themes_count", :controller => "themes"}, :class => "btn-success btn-sm" %>
	      <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--tab-pane -->
</div>

