<div id="themes_list" class="container">
  <p id="notice"><%= notice %></p>

  <h2>Areas of Expertise</h2>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Lead</th>
        <th>Phase</th>
        <th>Publications</th>
      </tr>
    </thead>

    <tbody>

      <% #replace model with view
         @themes = ListTheme.all %>
      <% @themes.each do |theme| %>
        <tr>
          <td><%= link_to theme.name, "/themes/"+theme.id.to_s %> </td>
          <td><%= theme.lead %></td>
          <td><%= theme.phase %></td>
          <td><%= theme.article_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
      </div><!--row mb3 -->
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Phase II (2019-2023) Themes</h6>
              </div>
              <div class="card-body p-0" >
                <div class = "row" >
                  <div class="col-sm-6">
                    <div id="top_publishers" class="container">
                      <% theme_pubs = ListTheme.where("id IN (7,8,9,10)").collect{|th|
		          [th.name, th.article_count]} %>
		      <br/>
		      <br/>
                      <table class="table table-sm table-striped table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th>Type</th>
                            <th>Data objects</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% theme_pubs.each do |tpl| %>
                          <tr>
                            <td>
                              <%= tpl[0] %>
                            </td>
                            <td class="text-right">
                              <%= tpl[1] %>
                            </td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>

                    </div>
                  </div>
                  <div class="col-sm-6">
		    <% # replace model with view
		      themes_list = ListTheme.where("id IN (7,8,9,10)").collect{|th|
		        [th.short, th.article_count]} %>
		      <%= pie_chart themes_list,  legend: "right", donut: true %>
		      <p>
		      <%= link_to 'Download Data', themes_path, :class => "btn-success btn-sm" %>
		      <p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--row mb3 -->
    
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Phase I (2013-2018) Themes</h6>
              </div>
              <div class="card-body p-0" >
                <div class = "row" >
                  <div class="col-sm-6">
                    <div id="top_publishers" class="container">
                      <% theme_pubs = ListTheme.where("id IN (1,2,3,4,5)").collect{|th|
		          [th.name, th.article_count]} %>
		      <br/>
		      <br/>
                      <table class="table table-sm table-striped table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th>Type</th>
                            <th>Data objects</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% theme_pubs.each do |tpl| %>
                          <tr>
                            <td>
                              <%= tpl[0] %>
                            </td>
                            <td class="text-right">
                              <%= tpl[1] %>
                            </td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-6">
		    <% # replace model with view
		      themes_list = ListTheme.where("id IN (1,2,3,4,5)").collect{|th|
		        [th.short, th.article_count]} %>
		      <%= pie_chart themes_list,  legend: "right", donut: true %>
		      <p>
		      <%= link_to 'Download Data', themes_path, :class => "btn-success btn-sm" %>
		      <p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--row mb3 -->
</div>
