<div id="themes_list" class="container">
  <p id="notice"><%= notice %></p>

  <h2>Areas of Expertise</h2>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Lead</th>
        <th>Phase</th>
        <th>Publications</th>
      </tr>
    </thead>

    <tbody>

      <% #replace model with view
         @themes = ListTheme.all %>
      <% @themes.each do |theme| %>
        <tr>
          <td><%= link_to theme.name, "/themes/"+theme.id.to_s %> </td>
          <td><%= theme.lead %></td>
          <td><%= theme.phase %></td>
          <td><%= theme.article_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
