<!--Browse themes-->
<%= render partial: 'layouts/index_notice', locals: {obj_data: get_theme_section} %> 
<p id="notice"><%= notice %></p>

<div id="themes_list" class="container">
  <ul class="nav nav-tabs" id="publicationsTab" role="tablist">
    <li class="nav-item">
      <button class="nav-link active" id="phase-ii-tab" data-bs-toggle="tab" data-bs-target="#phaseii" type="button" role="tab" aria-controls="phase " aria-selected="true">Themes Phase II (2019-2023)</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="phase-i-tab" data-bs-toggle="tab" data-bs-target="#phasei" type="button" role="tab" aria-controls="indicators" aria-selected="true">Themes Phase I (2013-2018)</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="nophase-tab" data-bs-toggle="tab" data-bs-target="#nophase" type="button" role="tab" aria-controls="indicators" aria-selected="true">Collaborations, BAG, Other</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="phaseii" role="tabpanel" aria-labelledby="phaseii-tab">
            <div class = "row" >
              <div class="col-sm-6">
                <div id="theme_data" class="container">
                  <% theme_pubs = ListTheme.where("phase = 2").collect{|th|
	             [th.name, th.article_count, th.id]} %>
	          <br/><br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                      <tr>
                        <td>
                          <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                        </td>
                        <td class="text-right">
                          <%= tpl[1] %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-6">
                <% # replace model with view (make it faster?)
                   themes_list = ListTheme.where("phase = 2").collect{|th|
	           [th.short, th.article_count]} %>
                <%= pie_chart themes_list, legend: "right", donut: true, adapter: "google", height: "100%" %>
              </div>
            </div>
    </div> <!--tab-pane -->

    <div class="tab-pane fade" id="phasei" role="tabpanel" aria-labelledby="phasei-tab">
            <div class = "row" >
              <div class="col-sm-6">
                <div id="theme_data" class="container">
                  <% theme_pubs = ListTheme.where("phase = 1").collect{|th|
	             [th.name, th.article_count, th.id]} %>
	        <br/><br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                      <tr>
                        <td>
                          <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                        </td>
                        <td class="text-right">
                          <%= tpl[1] %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-6">
               
   	          <% 
	            themes_list = ListTheme.where("phase = 1").collect{|th|
	              [th.short, th.article_count]} %>
  	          <%= pie_chart themes_list, legend: "right", donut: true, adapter: "google", height: "100%" %>
              </div>
            </div>
    </div> <!--tab-pane -->

    <div class="tab-pane fade" id="nophase" role="tabpanel" aria-labelledby="nophase-tab">
            <div class = "row" >
              <div class="col-sm-6">
                <div id="top_publishers" class="container">
                  <% theme_pubs = ListTheme.where("phase = 0").collect{|th|
	          [th.name, th.article_count, th.id]} %>
	      <br/><br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                        <%   if tpl[2] != 14 %>
                          <tr>
                            <td>
                              <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                            </td>
                            <td class="text-right">
                              <%= tpl[1] %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-6">
	        <% # replace model with view
	          themes_list = ListTheme.where("phase = 0").where("id <> 14").collect{|th|
	          [th.short, th.article_count]} %>
  	      <%= pie_chart themes_list,  legend: "right", donut: true, adapter: "google", height: "100%"  %>
              </div>
            </div>
    </div> <!--tab-pane -->
  </div> <!-- tabs content -->
</div> <!-- themes list -->
