<div id="themes_list" class="container">
  <p id="notice"><%= notice %></p>

  <h2>Research Themes</h2>
    
    <div class="row mb-3">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header bg-light">
            <h6 style= "margin:auto">Phase II (2019-2023) Themes</h6>
          </div>
          <div class="card-body p-0" >
            <div class = "row" >
              <div class="col-sm-6">
                <div id="top_publishers" class="container">
                  <% theme_pubs = ListTheme.where("phase = 2").collect{|th|
	          [th.name, th.article_count, th.id]} %>
	      <br/>
	      <br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                      <tr>
                        <td>
                          <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                        </td>
                        <td class="text-right">
                          <%= tpl[1] %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="col-sm-6">
	    <% # replace model with view
	      themes_list = ListTheme.where("phase = 2").collect{|th|
	        [th.short, th.article_count]} %>
	      <%= pie_chart themes_list,  legend: "right", donut: true %>
	      <p>
	      <%= link_to 'Download Data', {:action => "themes_count", :controller => "themes"}, :class => "btn-success btn-sm" %>
	      <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--row mb3 -->

    <div class="row mb-3">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header bg-light">
            <h6 style= "margin:auto">Phase I (2013-2018) Themes</h6>
          </div>
          <div class="card-body p-0" >
            <div class = "row" >
              <div class="col-sm-6">
                <div id="top_publishers" class="container">
                  <% theme_pubs = ListTheme.where("phase = 1").collect{|th|
	          [th.name, th.article_count, th.id]} %>
	      <br/>
	      <br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                      <tr>
                        <td>
                          <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                        </td>
                        <td class="text-right">
                          <%= tpl[1] %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-6">
	    <% # replace model with view
	      themes_list = ListTheme.where("phase = 1").collect{|th|
	        [th.short, th.article_count]} %>
	      <%= pie_chart themes_list,  legend: "right", donut: true %>
	      <p>
	      <%= link_to 'Download Data', {:action => "themes_count", :controller => "themes"}, :class => "btn-success btn-sm" %>
	      <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--row mb3 -->
        <div class="row mb-3">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header bg-light">
            <h6 style= "margin:auto">Collaborations, BAG, and other</h6>
          </div>
          <div class="card-body p-0" >
            <div class = "row" >
              <div class="col-sm-6">
                <div id="top_publishers" class="container">
                  <% theme_pubs = ListTheme.where("phase = 0").collect{|th|
	          [th.name, th.article_count, th.id]} %>
	      <br/>
	      <br/>
                  <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Theme</th>
                        <th>Publications</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% theme_pubs.each do |tpl| %>
                      <tr>
                        <td>
                          <%= link_to tpl[0], "/themes/"+tpl[2].to_s %>
                        </td>
                        <td class="text-right">
                          <%= tpl[1] %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-6">
	    <% # replace model with view
	      themes_list = ListTheme.where("phase = 0").collect{|th|
	        [th.short, th.article_count]} %>
	      <%= pie_chart themes_list,  legend: "right", donut: true %>
	      <p>
	      <%= link_to 'Download Data', {:action => "themes_count", :controller => "themes"}, :class => "btn-success btn-sm" %>
	      <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--row mb3 -->
</div>
