<div id="themes_list" class="container">
  <p id="notice"><%= notice %></p>

  <h2>Areas of Expertise</h2>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Lead</th>
        <th>Phase</th>
        <th>Publications</th>
        <th>Authors </th>
      </tr>
    </thead>

    <tbody>
      <% @themes.each do |theme| %>
        <tr>
          <td><%= link_to theme.name, theme %> </td>
          <td><%= theme.lead %></td>
          <td><%= theme.phase %></td>
          <td><%= theme.article_themes.count %></td>
          <td><%= theme.get_authors.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
