<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Theme:</strong>   <%= @theme.name %>
  </p>

  <p>
    <strong>Lead:</strong> <%= @theme.lead %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= @theme.phase %>
  </p>
  <%= @theme.articles %>
  <br/>
  <%= link_to 'Edit', edit_theme_path(@theme) %> |
  <%= link_to 'Back', themes_path %>
<div class="container">
