<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <h2>Theme:  <%= @theme.name %></h2>
  </p>

  <p>
    <strong>Lead:</strong> <%= @theme.lead %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= @theme.phase %>
  </p>
  <%= render partial: 'articles/articles_list', locals: {articles: @theme.articles }%>
  <br/>
  <%= link_to 'Edit', edit_theme_path(@theme) %> |
  <%= link_to 'Back', themes_path %>
<div class="container">
