<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <h2>Theme:  <%= @theme.name %></h2>
  </p>
  <p>
    <strong>Lead:</strong> <%= @theme.lead %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= @theme.phase %>
  </p>
  <br/>
  <div class="bd-example bd-example-tabs">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Articles</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Authors</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Institutions</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <%= render partial: 'articles/articles_list', locals: {articles: @theme.articles }%>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <%= render partial: 'authors/authors_list', locals: {authors: @theme.get_authors }%>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <%= render partial: 'affiliations/affiliations_list', locals: {affiliations: @theme.get_affiliations }%>
      </div>
    </div>
  </div>
  <br/>
  <%= link_to 'Edit', edit_theme_path(@theme) %> |
  <%= link_to 'Back', themes_path %>


</div>
