<!--Theme view -->
<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <h2>Theme:  <%= @theme.name %></h2>
  </p>
  <% if @theme.lead != nil %>
  <p>
    <strong>Lead:</strong> <%= @theme.lead %>
  </p>
  <% end %>
  <% if @theme.phase != 0 %>
  <p>
    <strong>Phase:</strong>
    <%= @theme.phase %>
  </p>
  <% end %>
  <br/>
  <div class="bd-example bd-example-tabs">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <%= render partial: 'articles/articles_list', locals: {articles: @articles }%>
      </div>

    </div>
  </div>
  <br/>
  <% if user_signed_in? %>
  <%= link_to 'Edit', edit_theme_path(@theme) %> |
  <% end %>
  <%= link_to 'Back', themes_path, :class => "btn btn-secondary btn-sm" %>


</div>
