<div id="<%= dom_id dataset %>">
  <p>
    <strong>Complete:</strong>
    <%= dataset.complete %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dataset.description %>
  </p>

  <p>
    <strong>Doi:</strong>
    <%= dataset.doi %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= dataset.enddate %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= dataset.location %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dataset.name %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= dataset.startdate %>
  </p>

  <p>
    <strong>Ds type:</strong>
    <%= dataset.ds_type %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= dataset.repository %>
  </p>

</div>
