<%= form_with(model: dataset) do |form| %>
  <% if dataset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>

      <ul>
        <% dataset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :complete, style: "display: block" %>
    <%= form.text_field :complete %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :doi, style: "display: block" %>
    <%= form.text_field :doi %>
  </div>

  <div>
    <%= form.label :enddate, style: "display: block" %>
    <%= form.datetime_field :enddate %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :startdate, style: "display: block" %>
    <%= form.datetime_field :startdate %>
  </div>

  <div>
    <%= form.label :ds_type, style: "display: block" %>
    <%= form.text_field :ds_type %>
  </div>

  <div>
    <%= form.label :repository, style: "display: block" %>
    <%= form.text_field :repository %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
