<div class="container">
  <p id="notice"><%= notice %></p>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Datasets</th>
      </tr>
    </thead>

    <tbody>
      <% @datasets.each do |dataset| %>
        <tr>
          <td>
            <b>Title: </b><%= link_to dataset.dataset_name, dataset %> <b>Date:</b> <%= dataset.dataset_startdate %> <br>
            <b>Description:</b> <%= dataset.dataset_description %> <br>
            <b>DOI:</b> <%= dataset.dataset_doi %>
            <b>Location:</b> <%= link_to dataset.dataset_location, dataset.dataset_location.html_safe, target: "_blank", rel: "nofollow" %>
            <% if dataset.articles != [] then %>
              <% dataset.articles.each do | article | %>
               <br><b>Article:</b> <%= link_to article.title, article %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Dataset', new_dataset_path %>
</div>
