<div class="container">
  <ul class="nav nav-tabs" id="datasetsTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#browse" role="tab" aria-controls="browse" aria-selected="true">Browse</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="statistics" aria-selected="false">Statistics</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="browse" role="tabpanel" aria-labelledby="browse-tab">
      <div class="row">
        <div class="col-md-12">
          <!-- Top DIV: search, order, reset -->
          <p id="notice"><%= notice %></p>
          <%= form_tag nil, method: :get do %>
          <!-- Field for searching by title -->
          <%= hidden_field_tag 'search[order]', @search.order.definition.request_value if @search.order %>
          <div class="row">
            <div class="col-md-1">
              <b> Search: </b>
            </div>
            <div class="col-md-5">
              <% dataset_name_filter = @search.filter(:dataset_name) %>
              <%= text_field_tag 'search[dataset_name]', dataset_name_filter.value, class: 'form-control', placeholder: dataset_name_filter.name %>
            </div>
            <div class="col-md-4">
              <!-- Set sort order -->
              <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"> sort by: <%= @search.order.title if @search.order %>
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% @search.orders.reject(&:active).each do |order| %>
                  <li> <%= link_to order.title, order.by.path %> </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-2">
                <%= link_to 'reset', '?', class: 'btn  btn-success float-right' %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-3">
            <!-- left DIV: facet filters -->
            <%= form_tag nil, method: :get do %>
            <!-- Field for searching by title -->
            <%= hidden_field_tag 'search[order]', @search.order.definition.request_value if @search.order %>
            <!-- Facet filter for repository -->
            <% [:ds_type].each do |filter_name| %>
            <% filter = @search.filter(filter_name) %>
            <div class="filter">
              <div class="filter-title">
                <%= filter.name %>
                <span class="small text-muted">
                  <%= "(#{filter.facet.length})" %>
                </span>
              </div>
              <div class="filter-values">
                <ul class="selected">
                  <% filter.selected.each do |entity| %>
                  <% display = entity %>
                  <li>
                    <%= link_to display, filter.remove(entity).path %>
                  </li>
                  <% end %>
                </ul>
                <ul class="selectable">
                  <% filter.facet.reject(&:selected).each do |facet_value| %>
                  <% entity = facet_value.entity %>
                  <li>
                    <% display = entity %>
                    <%= link_to display, filter.add(entity).path %>
                    <span class="count">
                      <%= "(#{facet_value.count})" %>
                    </span>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <% end %>
            <% [:repository].each do |filter_name| %>
            <% filter = @search.filter(filter_name) %>
            <div class="filter">
              <div class="filter-title">
                <%= filter.name %>
                <span class="small text-muted">
                  <%= "(#{filter.facet.length})" %>
                </span>
              </div>
              <div class="filter-values">
                <ul class="selected">
                  <% filter.selected.each do |entity| %>
                  <% display = entity %>
                  <li>
                    <%= link_to display, filter.remove(entity).path %>
                  </li>
                  <% end %>
                </ul>
                <ul class="selectable">
                  <% filter.facet.reject(&:selected).each do |facet_value| %>
                  <% entity = facet_value.entity %>
                  <li>
                    <% display = entity %>
                    <%= link_to display, filter.add(entity).path %>
                    <span class="count">
                      <%= "(#{facet_value.count})" %>
                    </span>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
          <div class="col-md-9">
            <!-- right DIV: results list -->
            <%= will_paginate @datasets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
            <% if user_signed_in? %>
            <%= link_to 'New dataset', new_dataset_path, :class => "btn btn-success btn-sm float-right" %>
            <% end %>
            <b> <%= @datasets.count%> data objects found  </b>
            <br/>
            <p id="notice"><%= notice %></p>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Data objects</th>
                </tr>
              </thead>
              <tbody>
                <% @datasets.each do |dataset| %>
                <tr>
                  <td>
                    <b>Name: </b><%= link_to dataset.dataset_name, dataset %> <b>Date:</b> <%= dataset.dataset_startdate %> <br>
                    <b>Description:</b> <%= dataset.dataset_description %> <br>
                    <b>DOI:</b> <%= dataset.dataset_doi %>
                    <b>Location:</b> <%= link_to dataset.dataset_location, dataset.dataset_location.html_safe, target: "_blank", rel: "nofollow" %>
                    <% if dataset.articles != [] then %>
                    <% dataset.articles.each do | article | %>
                    <br><b>Article:</b> <%= link_to article.title, article %>
                    <% end %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
        <div class="row mb-3">
          <div class="col-sm-6 ">
            <div class="card">
              <div class="card-header">
                <h6 style= "margin:auto">Data objects per year </h6>
              </div>
              <div class="card-body p-0">
                <% year_series = {}
                do_by_year = Dataset.ds_per_year
                year_series[0] = do_by_year.each.collect{ |doby| [doby['item'], doby['i_count']]}
                sum = 0
                year_series[1] = do_by_year.each.collect{ |doby| [doby['item'], sum += doby['i_count']]} %>
                <%= column_chart(year_series[0], library: { :series => { 1 => { type: "line"} } } )%>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                <h6 style= "margin:auto">Data objects accumulated vs. per year </h6>
              </div>
              <div class="card-body p-0">
                <% year_series = []
                do_by_year = Dataset.ds_per_year
                doby = do_by_year.each.collect{ |doby| [doby['item'], doby['i_count']]}
                year_series[0] = {name:"per year", data: doby}
                sum = 0
                year_series[1] = {name:"accumulated", data: doby.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
                <%= column_chart(year_series)%>
              </div>
            </div>
          </div><!--col-sm-6-->
        </div> <!--row mb3 -->
        <div class="row mb-3">
          <% group_labels = ["1-5","6-10", "11-15", "16-20", "more than 20"]
             r_sum = 0
             d_repo_stats = {}
             d_repo_data = {}
             Dataset.repository_count.reorder(r_count: :asc).each {|drc|
               r_sum += drc.r_count
               idx = ((drc.r_count-1)/5).to_i
                idx > 3 ? idx = 4 : idx
                d_repo_stats.include?(idx) ? d_repo_stats[idx] += 1 : d_repo_stats[idx] = 1
              }
              d_repo_data = {}
              d_repo_stats.each { |drs|
                d_repo_data[group_labels[drs[0]]] = drs[1]
              }
          %>
          <div class="col-sm-12 ">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Data objects per repository </h6>
              </div>
              <div class="card-body p-0">
                <div class = "row" >
                  <div class="col-sm-4">
                    <div id="top_publishers" class="container">
                      <table class="table table-sm table-striped table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th>Repository</th>
                            <th>Data objects</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% Dataset.repository_count.limit(10).each do |pps| %>
                          <tr>
                            <td>
                              <%= pps.repository %>
                            </td>
                            <td class="text-right">
                              <%= pps.r_count %>
                            </td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div id="publisher_summary_data" class="container">
                      <table class="table table-sm table-striped table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th colspan="2">Summary</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> Repositories </td>
                            <td class="text-right">
                              <%= Dataset.repository_count.length() %>
                            </td>
                          </tr>
                          <tr>
                            <td> Average: </td>
                            <td class="text-right">
                              <%= ((0.0+r_sum)/Dataset.repository_count.length()).round(2) %>
                            </td>
                          </tr>
                          <tr>
                            <td> Maximum:  </td>
                            <td class="text-right">
                              <%= Dataset.repository_count.first.r_count %>
                            </td>
                          </tr>
                          <tr>
                            <td> Minimum:  </td>
                            <td class="text-right">
                              <%= Dataset.repository_count.last.r_count %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="pub_per_publisher" class="container">
                      <table class="table table-sm table-striped table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th>Groups</th>
                            <th>Data objects</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% d_repo_stats.each do |drs| %>
                          <tr>
                            <td>
                              <%= group_labels[drs[0]] %>
                            </td>
                            <td class="text-right">
                              <%= drs[1] %>
                            </td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div id="chart_container" class="container">
                      <%= pie_chart d_repo_data, donut: true,  legend: "right" %>
                    </div>
                  </div>
                </div>
                <br/>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Data object types</h6>
              </div>
              <div class="card-body p-0" style= "margin:auto">
                <div class="col-sm-4">
                  <div id="top_publishers" class="container">
                    <table class="table table-sm table-striped table-bordered">
                      <thead class="thead-light">
                        <tr>
                          <th>Type</th>
                          <th>Data objects</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% Dataset.type_count.each do |dot| %>
                        <tr>
                          <td>
                            <%= dot.ds_type %>
                          </td>
                          <td class="text-right">
                            <%= dot.i_count %>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--row mb3 -->
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Recent data objects</h6>
              </div>
              <div class="card-body p-0" style= "margin:auto">
                <%= render partial: 'datasets/dataobject_list', locals: {data_objects: Dataset.latest.limit(10) }%>
              </div>
            </div>
          </div>
        </div> <!--row mb3 -->

      </div>
    </div>
  </div>
