<h1></h1>
<div class="container">
  <p id="notice">
    <%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @dataset.dataset_name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @dataset.dataset_description %>
  </p>
  <p>
    <strong>DOI:</strong>
    <%= @dataset.dataset_doi %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= link_to @dataset.dataset_location, @dataset.dataset_location %>
  </p>
  <p>
    <strong>Resository:</strong>
    <%= link_to @dataset.repository, @dataset.repository %>
  </p>
  <p>
    <strong>Start date:</strong>
    <%= @dataset.dataset_startdate %>
  </p>
  <p>
    <strong>End date:</strong>
    <%= @dataset.dataset_enddate %>
  </p>
  <% @dataset.articles.each do | article | %>
    <p>
     <b>Related Article:</b> <%= link_to article.title, article %>
    </p>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_dataset_path(@dataset), :class => "btn btn-primary btn-sm" %>
  <% end %>
  <%= link_to 'Back', datasets_path, :class => "btn btn-secondary btn-sm" %>
</div>
