<p id="notice"><%= notice %></p>

<p>
  <strong>Dataset complete:</strong>
  <%= @dataset.dataset_complete %>
</p>

<p>
  <strong>Dataset description:</strong>
  <%= @dataset.dataset_description %>
</p>

<p>
  <strong>Dataset doi:</strong>
  <%= @dataset.dataset_doi %>
</p>

<p>
  <strong>Dataset enddate:</strong>
  <%= @dataset.dataset_enddate %>
</p>

<p>
  <strong>Dataset location:</strong>
  <%= @dataset.dataset_location %>
</p>

<p>
  <strong>Dataset name:</strong>
  <%= @dataset.dataset_name %>
</p>

<p>
  <strong>Dataset startdate:</strong>
  <%= @dataset.dataset_startdate %>
</p>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
