<p style="color: green"><%= notice %></p>

<%= render @dataset %>

<div>
  <%= link_to "Edit this dataset", edit_dataset_path(@dataset) %> |
  <%= link_to "Back to datasets", datasets_path %>

  <%= button_to "Destroy this dataset", @dataset, method: :delete %>
</div>
