<h1> New article-datset link </h1>
<%= form_with(model: article_dataset, local: true) do |form| %>
  <% if article_dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_dataset.errors.count, "error") %> prohibited this article_dataset from being saved:</h2>

      <ul>
        <% article_dataset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :doi %>
    <%= form.text_field :doi %>
  </div>

  <div class="field">
    <%= form.label :article_id %>
    <%= form.number_field :article_id %>
  </div>

  <div class="field">
    <%= form.label :dataset_id %>
    <%= form.number_field :dataset_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
