<%= form_with(model: article_dataset) do |form| %>
  <% if article_dataset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article_dataset.errors.count, "error") %> prohibited this article_dataset from being saved:</h2>

      <ul>
        <% article_dataset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :doi, style: "display: block" %>
    <%= form.text_field :doi %>
  </div>

  <div>
    <%= form.label :article_id, style: "display: block" %>
    <%= form.number_field :article_id %>
  </div>

  <div>
    <%= form.label :dataset_id, style: "display: block" %>
    <%= form.number_field :dataset_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
