<p style="color: green"><%= notice %></p>

<%= render @article_dataset %>

<div>
  <%= link_to "Edit this article dataset", edit_article_dataset_path(@article_dataset) %> |
  <%= link_to "Back to article datasets", article_datasets_path %>

  <%= button_to "Destroy this article dataset", @article_dataset, method: :delete %>
</div>
