<p id="notice"><%= notice %></p>

<p>
  <strong>Doi:</strong>
  <%= @article_dataset.doi %>
</p>

<p>
  <strong>Article:</strong>
  <%= @article_dataset.article_id %>
</p>

<p>
  <strong>Dataset:</strong>
  <%= @article_dataset.dataset_id %>
</p>

<%= link_to 'Edit', edit_article_dataset_path(@article_dataset) %> |
<%= link_to 'Back', article_datasets_path %>
