<div id="<%= dom_id cr_publication %>">
  <p>
    <strong>Authors:</strong>
    <%= cr_publication.authors %>
  </p>

  <p>
    <strong>Pub year:</strong>
    <%= cr_publication.pub_year %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= cr_publication.title %>
  </p>

  <p>
    <strong>Doi:</strong>
    <%= cr_publication.doi %>
  </p>

  <p>
    <strong>Awards:</strong>
    <%= cr_publication.awards %>
  </p>

  <p>
    <strong>Xref affi:</strong>
    <%= cr_publication.xref_affi %>
  </p>

  <p>
    <strong>Themes:</strong>
    <%= cr_publication.themes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cr_publication.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= cr_publication.note %>
  </p>

</div>
