<div id="<%= dom_id organisation %>">
  <p>
    <strong>Name:</strong>
    <%= organisation.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= organisation.short_name %>
  </p>

  <p>
    <strong>Identifier:</strong>
    <%= organisation.identifier %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= organisation.logo %>
  </p>

  <p>
    <strong>Homepage:</strong>
    <%= organisation.homepage %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= organisation.address_id %>
  </p>

</div>
