<div id="<%= dom_id author %>">
  <p>
    <strong>Last name:</strong>
    <%= author.last_name %>
  </p>

  <p>
    <strong>Given name:</strong>
    <%= author.given_name %>
  </p>

  <p>
    <strong>Orcid:</strong>
    <%= author.orcid %>
  </p>

  <p>
    <strong>Isap:</strong>
    <%= author.isap %>
  </p>

</div>
