<%= will_paginate authors, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
<b> <%= @authors.count%> Researchers authorising display of their data 
    (out of <%= number_with_delimiter(Author.active.length()) %> )</b>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Articles</th>
      <th>ORCID</th>
    </tr>
  </thead>
  <tbody>
    <% authors.each do |author| %>
      <tr>
        <td><%= link_to(author.get_full, author) %> </td>
        <th> <%= author.articles.length %> </td>
        <th> <%= author.orcid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Author', new_author_path, :class => "btn btn-success btn-sm"  %>
<% end %>
