<!-- Authors browse -->
<div class="container">
 <div class="rounded border-light bg-light ">
    <div class="container">
        <h5> Researcher Authoring UK Catalysis Hub Publications</h5>
        <p>
          <%= number_with_delimiter(Author.active.length()) %> researchers have 
          collaborated in publishing <%= Article.active.count() %> papers supproted by UK Catalysis Hub
        </p>
        <ul>
          <li>The reserachers tab lists details of those researchers who have consented to being displayed.</li>
          <li>The indicators tab shows statistics about the production of researchers.</li>
         </ul>
    </div>
  </div>
  
  <ul class="nav nav-tabs" id="researchersTab" role="tablist">
    <li class="nav-item">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#browse" type="button" role="tab" aria-controls="browse" aria-selected="true">Researchers</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="indicators-tab" data-bs-toggle="tab" data-bs-target="#indicators" type="button" role="tab" aria-controls="indicators" aria-selected="false">Indicators</button>
    </li>
    <% if user_signed_in? %>
    <li class="nav-item">
      <button class="nav-link" id="not-verified-tab" data-bs-toggle="tab" data-bs-target="#not-verified" type="button" role="tab" aria-controls="not-verified" aria-selected="false">Not verified</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions" type="button" role="tab" aria-controls="actions" aria-selected="false">Actions</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="all-auths-tab" data-bs-toggle="tab" data-bs-target="#all-auths" type="button" role="tab" aria-controls="all-auths" aria-selected="false">All Authors</button>
    </li>
    <% end %>
  </ul>
  
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="browse" role="tabpanel" aria-labelledby="browse-tab">
      <!-- Browse tab - Default with search and filtering -->
      <div class="row">
        <!-- Top DIV: search, order, reset -->
        <div class="col-md-12">
          <p id="notice"><%= notice %></p>
          <%= form_tag nil, method: :get do %>
          <!-- Field for searching by title -->
          <%= hidden_field_tag 'search[order]', @search.order.definition.request_value if @search.order %>
          <div class="row">
            <div class="col-md-1">
              <b> Search: </b>
            </div>
            <div class="col-md-5">
              <% last_name_filter = @search.filter(:last_name) %>
              <%= text_field_tag 'search[last_name]', last_name_filter.value, class: 'form-control', placeholder: last_name_filter.name %>
            </div>
            <div class="col-md-4">
              <!-- Set sort order -->
              <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"> sort by: <%= @search.order.title if @search.order %>
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% @search.orders.reject(&:active).each do |order| %>
                  <li> <%= link_to order.title, order.by.path %> </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-2">
                <%= link_to 'reset', '?', class: 'btn  btn-success float-right' %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <!-- no facets -->
          <div class="col-md-12">
            <%= render partial: 'authors/researchers_list', locals: {authors: @authors}%>
          </div>
        </div>
    </div>

    <div class="tab-pane fade" id="indicators" role="tabpanel" aria-labelledby="indicators-tab">
      <% group_labels = ["1-5","6-10", "11-15", "16-20", "more than 20"]
      aut_pub_stats = {}
      aut_pub_data = {}
      pub_sum = 0
      Author.publications_count.reorder(pub_count: :asc).each {|apc|
        pub_sum += apc.pub_count
        idx = ((apc.pub_count-1)/5).to_i
        idx > 3 ? idx = 4 : idx
        aut_pub_stats.include?(idx) ? aut_pub_stats[idx] += 1 : aut_pub_stats[idx] = 1
      }
      aut_pub_data = {}
      aut_pub_stats.each { |aps|
        aut_pub_data[group_labels[aps[0]]] = aps[1]
      }
      %>
      <div class="row px-1 my-3">
        <div class="col-sm-12 ">
          <div class="card">
            <div class="card-header bg-light">
              <h6 style= "margin:auto">Publications per author </h6>
            </div>
            <div class="card-body p-0">
              <div class = "row" >
                <div class="col-sm-4">
                  <div id="authors_summary_data" class="container">
                    <table class="table table-sm table-striped table-bordered">
                      <thead class="thead-light">
                        <tr>
                          <th colspan="2">Summary</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td> Authors </td>
                          <td class="text-right">
                            <%= Author.active.length() %>
                          </td>
                        </tr>
                        <tr>
                          <td> Average: </td>
                          <td class="text-right">
                            <%= ((0.0+pub_sum)/Author.active.length()).round(2) %>
                          </td>
                        </tr>
                        <tr>
                          <td> Maximum:  </td>
                          <td class="text-right">
                            <%= Author.publications_count.length() > 0 ?  Author.publications_count.first.pub_count : 0 %>
                          </td>
                        </tr>
                        <tr>
                          <td> Minimum:  </td>
                          <td class="text-right">
                            <%= Author.publications_count.length() > 0 ?  Author.publications_count.last.pub_count : 0 %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="pub_per_author" class="container">
                    <table class="table table-sm table-striped table-bordered">
                      <thead class="thead-light">
                        <tr>
                          <th>Pub. Groups</th>
                          <th>Authors</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% aut_pub_stats.each do |aps| %>
                        <tr>
                          <td>
                            <%= group_labels[aps[0]] %>
                          </td>
                          <td class="text-right">
                            <%= aps[1] %>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div id="chart_container" class="container">
                    <%= pie_chart aut_pub_data, donut: true,  legend: "right" %>
                  </div>
                </div>
              </div>
              <br/>
            </div>
          </div>
        </div>
      </div>
      <div class="row px-1 my-3">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h6 style= "margin:auto">Top publishing researchers</h6>
            </div>
            <div class="card-body p-0">
              <% if Author.publications_count.length() > 0 %>
              <%= render partial: 'authors/authors_top', locals: {authors: Author.publications_count.limit(10), count_name: "Publications" }%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h6 style= "margin:auto">Top publishing researchers (non P.I.)</h6>
            </div>
            <div class="card-body p-0">
             <% if Author.publications_count.length() > 0 %>              
              <% except ='authors.id not in (11, 15, 23, 22, 99, 111, 120, 134, 154, 171, 329)' %>
              <%= render partial: 'authors/authors_top', locals: {authors: Author.publications_count.where(except).limit(10), count_name: "Publications" }%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h6 style= "margin:auto">Most cited researchers</h6>
            </div>
            <div class="card-body p-0">
              <% if Author.publications_count.length() > 0 %>
              <%= render partial: 'authors/authors_top', locals: {authors: Author.citations_count.limit(10), count_name: "Citations" }%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 themed-grid-col">
          <div class="card">
            <div class="card-header">
              <h6 style= "margin:auto">Countries of oringin</h6>
            </div>
            <div class="card-body" style="height: 370px; margin-left: auto; margin-right: auto;">
		     <% aff_stats = InstCtryStat.all.order('res_count desc')
		        country_data = []
		        aff_stats.each do |affsts|
		            if affsts.country == "Peoples Republic of China" then
		                 country_data.append(["China", affsts.res_count])
                            elsif affsts.country == "United States of America" then
			         country_data.append(["United States", affsts.res_count])
                            elsif affsts.country == "The Netherlands" then
                                country_data.append(["Netherlands", affsts.res_count])
                            else
                                country_data.append([affsts.country, affsts.res_count])
                            end
                        end %>
              <%= geo_chart country_data %>
            </div>
          </div>
        </div><!--col-sm-7-->
        <div class="col-sm-5 themed-grid-col">
          <div class="card">
            <div class="card-header">
              <h6 style= "margin:auto">Top data publishing researchers</h6>
            </div>
            <div class="card-body p-0" >
              <% if Author.data_objects_count.length() > 0 %>
              <%= render partial: 'authors/authors_top', locals: {authors: Author.data_objects_count.limit(10), count_name: "Data Objects"}%>
              <% end %>
            </div>
          </div>
        </div><!--col-sm-7-->
      </div><!--row mb3 -->
    </div>
    <% if user_signed_in? %>
    <div class="tab-pane fade" id="not-verified" role="tabpanel" aria-labelledby="not-verified-tab">
      <div class="card">
        <div class="card-header bg-light">
          <h6 style= "margin:auto">Not verified authors <%= Author.not_verified.count %></h6>
        </div>
        <div class="card-body p-0" style= "margin:auto">
          <%= render partial: 'authors/authors_list', locals: {authors: Author.not_verified}%>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
      <div class="row">
        <div class="col-md-12">
          <p>The actions below are scheduled and processed in the background</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <p>Generate affiliations from CR</p>
        </div>
        <div class="col-md-3">
          <%= button_to "Generate Affis", {:action => "generate", :controller => "authors"}, :class => 'btn  btn-success float-right'  %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="all-auths" role="tabpanel" aria-labelledby="all-auths-tab">
      <div class="container">
          <%= render partial: 'authors/authors_list', locals: {authors: Author.active}%>
      </div>

    </div>
    <% end %>
  </div> <!-- Tabs Contents-->
</div><!-- container -->
