<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Full name:</strong>
    <%= @author.full_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @author.last_name %>
  </p>

  <p>
    <strong>Given name:</strong>
    <%= @author.given_name %>
  </p>

  <p>
    <strong>Orcid:</strong>
    <%= @author.orcid %>
  </p>

  <p>
    <strong>Articles:</strong>
    <%
      art_list = ""
      for art in @author.articles.all.order(:title)
        art_list += ' ' + link_to(art.title, art)
      end
    %>
    <%= art_list.html_safe %>
  </p>
  <%
    expertise = []
    expertise_lnks = ""
    @author.articles.each do |art|
      art.article_themes.each do |art_theme|
        if not expertise.include?(art_theme.theme.short) then
          expertise.push(art_theme.theme.short)
          if expertise_lnks == "" then
            expertise_lnks = link_to(art_theme.theme.short, art_theme.theme)
          else
            expertise_lnks += ", ".html_safe + link_to(art_theme.theme.short, art_theme.theme)
          end
        end
      end
    end
  %>
  <p>
    <strong>Expertise:</strong> <%= expertise_lnks  %>
  </p>
  <%
    affiliation = []
    affiliation_lnks = ""
    @author.affiliations.each do |afi|
      if not affiliation.include?(afi) then
        affiliation.push(afi)
        if affiliation_lnks == "" then
          affiliation_lnks = link_to(afi.institution, afi)
        else
          affiliation_lnks += ", ".html_safe + link_to(afi.institution, afi)
        end
      end
    end
  %>
  <p>
    <strong>Affiliations:</strong> <%= affiliation_lnks  %>
  </p>
  <%= link_to 'Edit', edit_author_path(@author), :class => "btn btn-primary btn-sm" %> |
  <%= link_to 'Back', authors_path, :class => "btn btn-secondary btn-sm" %>
</div>
