<div id="<%= dom_id article_author %>">
  <p>
    <strong>Doi:</strong>
    <%= article_author.doi %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article_author.author_id %>
  </p>

  <p>
    <strong>Author count:</strong>
    <%= article_author.author_count %>
  </p>

  <p>
    <strong>Author order:</strong>
    <%= article_author.author_order %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= article_author.status %>
  </p>

  <p>
    <strong>Author seq:</strong>
    <%= article_author.author_seq %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= article_author.article_id %>
  </p>

  <p>
    <strong>Orcid:</strong>
    <%= article_author.orcid %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= article_author.last_name %>
  </p>

  <p>
    <strong>Given name:</strong>
    <%= article_author.given_name %>
  </p>

</div>
