<%= form_with(model: article_author) do |form| %>
  <% if article_author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article_author.errors.count, "error") %> prohibited this article_author from being saved:</h2>

      <ul>
        <% article_author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :doi, style: "display: block" %>
    <%= form.text_field :doi %>
  </div>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= form.number_field :author_id %>
  </div>

  <div>
    <%= form.label :author_count, style: "display: block" %>
    <%= form.text_field :author_count %>
  </div>

  <div>
    <%= form.label :author_order, style: "display: block" %>
    <%= form.number_field :author_order %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :author_seq, style: "display: block" %>
    <%= form.text_field :author_seq %>
  </div>

  <div>
    <%= form.label :article_id, style: "display: block" %>
    <%= form.number_field :article_id %>
  </div>

  <div>
    <%= form.label :orcid, style: "display: block" %>
    <%= form.text_field :orcid %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :given_name, style: "display: block" %>
    <%= form.text_field :given_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
