
<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab<%= article_author.id %>" role="tablist">
      <li class="nav-item">
        <button class="nav-link active" id="art-author-tab<%= article_author.id %>" data-toggle="tab" href="#art-author<%= article_author.id %>" role="tab" aria-controls="art-author<%= article_author.id %>" aria-selected="true">Author details</button>
      </li>
      <% if article_author.cr_affiliations.count != 0 %>
      <li class="nav-item">
        <button class="nav-link" id="cr-affiliation-tab<%= article_author.id %>" data-toggle="tab" href="#cr-affiliation<%= article_author.id %>" role="tab" aria-controls="cr-affiliation<%= article_author.id %>" aria-selected="false">Affiliations</button>
      </li>
      <% end %>
      <li class="nav-item">
        <button class="nav-link" id="researcher-tab<%= article_author.id %>" data-toggle="tab" href="#researcher<%= article_author.id %>" role="tab" aria-controls="researcher<%= article_author.id %>" aria-selected="false">Researcher details</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent<%= article_author.id %>">
      <div class="tab-pane fade show active" id="art-author<%= article_author.id %>" role="tabpanel" aria-labelledby="art-author-tab<%= article_author.id %>">
        <p>
          <strong>Name: </strong>
          <%= article_author.last_name %>
          <%= article_author.given_name %>
        </p>
        <p>
          <strong>ORCID: </strong>
          <%= article_author.orcid %>
        </p>
        <p>
          <strong>Linked Researcher ID: </strong>
          <%= article_author.author_id %>
          <strong>Status: </strong>
          <%= article_author.status %>
        </p>
        <p>
          <strong>Sequence: </strong>
          <%= article_author.author_seq %>
          <strong>Order: </strong>
          <%= article_author.author_order %>
        </p>
      </div>
      <% if article_author.cr_affiliations.count != 0 %>
        <div class="tab-pane fade" id="cr-affiliation<%= article_author.id %>" role="tabpanel" aria-labelledby="cr-affiliation-tab<%= article_author.id %>">
          <b>CR affiliations</b>
          <%= render '/cr_affiliations/cr_affiliations_list', cr_affiliations: article_author.cr_affiliations %>
          <b>Article author affiliations</b>
          <% if article_author.author_affiliations.count != 0 %>
            <%= render '/author_affiliations/list', author_affiliations: article_author.author_affiliations %>
          <% else %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
              Parse Affiliation
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= article_author.cr_affiliations[0].name %>
                  <% affi_list = [] %>
                  <% if article_author.cr_affiliations.count == 1
                       affiliation_str = article_author.cr_affiliations[0].name
                       if affiliation_str.length > 50
                       # try to split into smaller strings
                         affi_list = affiliation_str.split(',')
                       end
                     end %>
                  <% affi_list.each do |af_item| %>
                    <p><%= af_item.strip %></p>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
            </div>
            <p>Need to parse affiliation</p>
          <% end %>
          <b>Researcher affiliations </b>
          <%= render '/affiliations/affiliations_list', affiliations: article_author.author.affiliations %>
        </div>
      <% end %>
      <div class="tab-pane fade" id="researcher<%= article_author.id %>" role="tabpanel" aria-labelledby="researcher-tab<%= article_author.id %>">
        <%= render '/authors/researcher_view', researcher: article_author.author %>
      </div>
    </div>
  </div>
</div>
