
<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab<%= article_author.id %>" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab<%= article_author.id %>" data-toggle="tab" href="#home<%= article_author.id %>" role="tab" aria-controls="home<%= article_author.id %>" aria-selected="true">Author details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab<%= article_author.id %>" data-toggle="tab" href="#profile<%= article_author.id %>" role="tab" aria-controls="profile<%= article_author.id %>" aria-selected="false">Affiliations</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent<%= article_author.id %>">
      <div class="tab-pane fade show active" id="home<%= article_author.id %>" role="tabpanel" aria-labelledby="home-tab<%= article_author.id %>">
        <p>
          <strong>Name: </strong>
          <%= article_author.last_name %>
          <%= article_author.given_name %>
        </p>
        <p>
          <strong>ORCID: </strong>
          <%= article_author.orcid %>
        </p>
        <p>
          <strong>Linked Researcher ID: </strong>
          <%= article_author.author_id %>
          <strong>Status: </strong>
          <%= article_author.status %>
        </p>
        <p>
          <strong>Sequence: </strong>
          <%= article_author.author_seq %>
          <strong>Order: </strong>
          <%= article_author.author_order %>
        </p>
      </div>
      <div class="tab-pane fade" id="profile<%= article_author.id %>" role="tabpanel" aria-labelledby="profile-tab<%= article_author.id %>">
        <%= article_author.cr_affiliations %>
        <%= render '/cr_affiliations/cr_affiliations_list', cr_affiliations: article_author.cr_affiliations %>
      </div>
    </div>
  </div>
</div>
