
<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab<%= article_author.id %>" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="art-author-tab<%= article_author.id %>" data-toggle="tab" href="#art-author<%= article_author.id %>" role="tab" aria-controls="art-author<%= article_author.id %>" aria-selected="true">Author details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cr-affiliation-tab<%= article_author.id %>" data-toggle="tab" href="#cr-affiliation<%= article_author.id %>" role="tab" aria-controls="cr-affiliation<%= article_author.id %>" aria-selected="false">CR Affiliations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="researcher-tab<%= article_author.id %>" data-toggle="tab" href="#researcher<%= article_author.id %>" role="tab" aria-controls="researcher<%= article_author.id %>" aria-selected="false">Researcher details</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent<%= article_author.id %>">
      <div class="tab-pane fade show active" id="art-author<%= article_author.id %>" role="tabpanel" aria-labelledby="art-author-tab<%= article_author.id %>">
        <p>
          <strong>Name: </strong>
          <%= article_author.last_name %>
          <%= article_author.given_name %>
        </p>
        <p>
          <strong>ORCID: </strong>
          <%= article_author.orcid %>
        </p>
        <p>
          <strong>Linked Researcher ID: </strong>
          <%= article_author.author_id %>
          <strong>Status: </strong>
          <%= article_author.status %>
        </p>
        <p>
          <strong>Sequence: </strong>
          <%= article_author.author_seq %>
          <strong>Order: </strong>
          <%= article_author.author_order %>
        </p>
      </div>
      <div class="tab-pane fade" id="cr-affiliation<%= article_author.id %>" role="tabpanel" aria-labelledby="cr-affiliation-tab<%= article_author.id %>">
        <b>CR Affiliations</b>
        <%= render '/cr_affiliations/cr_affiliations_list', cr_affiliations: article_author.cr_affiliations %>
        
      </div>
      <div class="tab-pane fade" id="researcher<%= article_author.id %>" role="tabpanel" aria-labelledby="researcher-tab<%= article_author.id %>">
        <%= render '/authors/researcher_view', researcher: article_author.author %>
      </div>
    </div>
  </div>
</div>
