  <% if article_author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_author.errors.count, "error") %> prohibited this article_author from being saved:</h2>

      <ul>
        <% article_author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% authors_list = Author.where(orcid: article_author.orcid, last_name: article_author.last_name)%>

  <table>
    <thead class="thead-light">
      <tr>
        <th>Author</th>
        <th>ORCID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% authors_list.each do |researcher| %>
        <tr>
          <td>
            <%= researcher.id %>
            <%= researcher.given_name %>
            <%= researcher.last_name %>
          </td>
          <td>
            <%= researcher.orcid %>
          </td>
          <td>
            <% #= #form.hidden_field :author_id, :value => researcher.id %>
            <% #= #form.hidden_field :new_id, :value => researcher.id %>
            <% #= #form.submit "Assign"  %>
            <% #= #button_to "Verify", {:action => "verify", :controller => "articles"}, :class => 'btn  btn-success float-right'  %>
            <% #= #link_to 'Assign', link_to_researcher_path + '?new_id='+researcher.id.to_s , data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm"  %>
            <%= button_to 'Assign', {:action => 'link_to_researcher', :controller => 'article_authors', :data => {:author_id => researcher.id,:id => article_author.id}}, :class => 'btn  btn-success btn-sm'  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if authors_list.length > 1 %>
    <%=  "Many possible matches" %>
  <% else %>
    <%=  "Unique match" %>
  <% end %>
