          <% invalid =["",nil, "not verified", "None"] %>
          <div class="card">
            <div class="card-header" id="heading<%= article_author.id %>">
              <h5 class="mb-0" >
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= article_author.id %>" aria-expanded="true" aria-controls="collapse<%= article_author.id %>">
                  <%= article_author.given_name %> <%= article_author.last_name %>
                </button>
              </h5>
            </div> <!--end of authors card header -->
            <div id="collapse<%= article_author.id %>" class="collapse" aria-labelledby="heading<%= article_author.id %>" data-parent="#accordionAuthors">
              <div class="card-body" >
              <% if invalid.include?(article_author.status) %>
                  <div class="row">
                    <div class= "col-md-6">
                      <p> Please verify linked researcher</p>
                      <%= render '/article_authors/form_verify_left', article_author: article_author %>
                    </div>
                    <div class= "col-md-6">
                      <%= render '/article_authors/form_verify_right', article_author: article_author %>
                    </div>
                  </div>
              <% else %>
                  <%= render '/article_authors/form_verify_left', article_author: article_author %>
              <% end %>
              </div> <!--end of authors card body -->
            </div><!--end of collapse div -->
          </div> <!--end of authors card -->
