<table>
  <thead>
    <tr>
      <th>Given name</th>
      <th>Last name</th>
      <th>ORCID</th>
      <th>Art Author Status</th>
      <th>Article</th>
      <th>Article status</th>
    </tr>
  </thead>
  <tbody>
    <% article_authors.each do |article_author| %>
      <tr>
        <td><%= article_author.given_name %></td>
        <td><%= article_author.last_name %></td>
        <td><%= article_author.orcid %></td>
        <td><%= article_author.status %></td>
        <td><%= if article_author.article != nil then article_author.article.title[0..50] + "..." else "not linked to active articles" end %></td>
        <td><%= if article_author.article != nil then article_author.article.status else "none" end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
