<p id="notice"><%= notice %></p>

<h1>Article Authors</h1>

<table>
  <thead>
    <tr>
      <th>Doi</th>
      <th>Author</th>
      <th>Author count</th>
      <th>Author order</th>
      <th>Status</th>
      <th>Sequence</th>
      <th>Article</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_authors.each do |article_author| %>
      <tr>
        <td><%= article_author.doi %></td>
        <td><%= article_author.author_id %></td>
        <td><%= article_author.author_count %></td>
        <td><%= article_author.author_order %></td>
        <td><%= article_author.status %></td>
        <td><%= article_author.sequence %></td>
        <td><%= article_author.article_id %></td>
        <td><%= link_to 'Show', article_author %></td>
        <td><%= link_to 'Edit', edit_article_author_path(article_author) %></td>
        <td><%= link_to 'Destroy', article_author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article Author', new_article_author_path %>
