<p style="color: green"><%= notice %></p>

<%= render @article_author %>

<div>
  <%= link_to "Edit this article author", edit_article_author_path(@article_author) %> |
  <%= link_to "Back to article authors", article_authors_path %>

  <%= button_to "Destroy this article author", @article_author, method: :delete %>
</div>
