<div class="container">
  <div class="rounded border-light bg-light ">
    <div class="container col-sm-8 col-8">
        <h1><%= @home_data.heading %> </h1>
        <p><%= @home_data.description.html_safe() %></p>
    </div>
  </div>
  <main role="main">
    <%= render partial: 'home/quick_info', locals: {do_data: get_do_data}%>
    <!--Publications-->
    <%= render partial: 'home/pubs_info'%>
    <!-- Researchers -->
    <%= render partial: 'home/rsrch_info'%>
    <!-- Affiliations -->
    <%= render partial: 'home/affil_info'%>
    <% if @theme_data.visible %>
    <!-- Publications per Theme -->
    <%= render partial: 'home/theme_info'%>
    <% end %>
    <% if @do_data.visible %>
    <!-- Data Objects -->
    <%= render partial: 'home/dobs_info'%>
    <% end %>
  </main>
</div>
