<div class="container">
  <div class="rounded border-light bg-light ">
    <div class="container col-sm-8 col-8">
        <h5> Live Prototype of the Catalysis Data Infrastructure </h5>
        <p>
	  The Catalysis Data Infrastructure (CDI) allows browsing and searching
	  publications and data objects published by researchers supported-by or affiliated-to 
	  the UK Catalysis Hub.
	<br/>
          The latests numbers indicate that <b> <%= number_with_delimiter(Author.active.length()) %> </b>researchers have 
          collaborated in publishing <b><%= Article.active.count() %></b> papers supproted by UK Catalysis Hub. 
          These papers in turn make reference to <b><%= Dataset.count() %> </b> data objects.
        <br/>
          Information is divided into five groups: Publications, Researchers, Institutions, Themes and Datasets. 
          Each group includes a searchable list and a summary of indicators (yearly publishing, most recent, citation counts, etc.)
         </p>
    </div>
  </div>
  <main role="main">
    <%= render partial: 'home/quick_info'%>
    <!--Publications-->
    <%= render partial: 'home/pubs_info'%>
    <!-- Researchers -->
    <%= render partial: 'home/rsrch_info'%>
    <!-- Affiliations -->
    <%= render partial: 'home/affil_info'%>
    <!-- Publications per Theme -->
    <%= render partial: 'home/theme_info'%>
    <!-- Data Objects -->
    <%= render partial: 'home/dobs_info'%>
  </main>
</div>
