<div class="container">
  <div class="rounded border-light bg-light ">
    <div class="container col-sm-8 col-8">
        <h5>Catalysis Data Infrastructure (CDI) Prototype</h5>
        <p>
	      CDI indexes publications and data objects produced by researchers
	      supported-by or affiliated-to the UK Catalysis Hub.
      	  <br/>
          To date <b> <%= number_with_delimiter(Author.active.length()) %> </b>
          researchers have collaborated in publishing <b><%= Article.active.count() %></b>
          papers and <b><%= Dataset.count() %> </b> data objects
         </p>
    </div>
  </div>
  <main role="main">
    <%= render partial: 'home/quick_info'%>
    <!--Publications-->
    <%= render partial: 'home/pubs_info'%>
    <!-- Researchers -->
    <%= render partial: 'home/rsrch_info'%>
    <!-- Affiliations -->
    <%= render partial: 'home/affil_info'%>
    <!-- Publications per Theme -->
    <%= render partial: 'home/theme_info'%>
    <!-- Data Objects -->
    <%= render partial: 'home/dobs_info'%>
  </main>
</div>
