<div class="container">
  <main role="main">
    <div class="row my-1"><!-- Qucik info row -->
      <div class="col-sm-3 col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-primary  rounded border-primary">
            <div class="col-sm-6">
              <h1><%= Article.active.count() %></h1>
              <h6>Publications</h6>
            </div>
            <div class="col-sm-6 my-1">
              <%= image_tag('books2.svg', height: '64', width: '64', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', articles_path, :class => "btn btn-primary btn-sm btn-block text-dark" %>
          </div>
        </div>
      </div>  <!-- info box -->
      <div class="col-sm-3 col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-secondary  rounded border-secondary my-0">
            <div class="col-sm-6">
              <h1><%= Author.active.length() %></h1>
              <h6>Authors</h6>
            </div>
            <div class="col-sm-6 my-1">
              <%= image_tag('users.svg', height: '64', width: '64', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', authors_path, :class => "btn btn-secondary btn-sm btn-block text-dark" %>
          </div>
        </div> <!-- info box -->
      </div>
      <div class="col-sm-3 col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-success  rounded border-success">
            <div class="col-sm-6">
              <h1><%= Affiliation.count() %></h1>
              <h6>Institutions</h6>
            </div>
            <div class="col-sm-6 my-1">
              <%= image_tag('institution.svg', height: '64', width: '64', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', affiliations_path, :class => "btn btn-success btn-sm btn-block text-dark" %>
          </div>
        </div> <!-- info box -->
      </div>
      <div class="col-sm-3 col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-danger  rounded border-danger ">
            <div class="col-sm-6">
              <h1><%= Dataset.count() %></h1>
              <h6 class="card-title">Datasets</h6>
            </div>
            <div class="col-sm-6 my-1">
              <%= image_tag('database.svg', height: '64', width: '64', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', datasets_path, :class => "btn btn-danger btn-sm btn-block text-dark" %>
          </div>
        </div> <!-- info box -->
      </div>
    </div>
    <div class="row px-1 my-3">
      <div class="col-sm-6 col-lg-8">
        <div class="card">
          <div class="card-header bg-light">
            <h6 style= "margin:auto">Recent publications</h6>
          </div>
          <div class="card-body p-0" style= "margin:auto">
            <%= render partial: 'articles/articles_recent', locals: {articles: Article.latest.limit(5) }%>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Publications by theme</h6>
          </div>
          <div class="card-body p-0">
            <% # replace model with view
            # themes_list = Theme.joins(:articles).group(:short).order(:id).count()
            themes_list = ListTheme.all.collect{|th|
              [th.short, th.article_count]} %>
              <%= pie_chart themes_list,  legend: "right", donut: true %>
            </div>
          </div>
        </div>
    </div>

    <div class="row px-1 my-3">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Top publishing authors</h6>
          </div>
          <div class="card-body p-0">
            <%= render partial: 'authors/authors_top', locals: {authors: Author.publications_count.limit(5) }%>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Most cited publications</h6>
          </div>
          <div class="card-body p-0">
            <% label_for_view = "Articles" %>
            <%= render partial: 'articles/articles_referenced', locals: {articles: Article.most_cited.limit(5), count_label: label_for_view }%>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Most cited authors</h6>
          </div>
          <div class="card-body p-0">
            <% label_for_view = "Citations" %>
            <%= render partial: 'authors/authors_top', locals: {authors: Author.citations_count.limit(5), count_label: label_for_view }%>
          </div>
        </div>
      </div><!--col-sm-3-->
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Publications</h6>
          </div>
          <div class="card-body p-0">
            <% year_series = {}
            arts_by_year = Article.where(:status => "Added").group(:pub_year).count %>
            <%= column_chart arts_by_year, title:"Annual"  %>

            <% year_series = {}
            arts_by_year = Article.where(:status => "Added").group(:pub_year).count
            year_series[0] = arts_by_year
            sum = 0
            year_series[1] = arts_by_year.each.collect{ |aby| [aby[0], sum+=aby[1]] } %>
	    <% 
	      # chartkick has not implemented combo chart, sot this code will not work
	      # combo_chart(year_series[1], library: { :series => { 1 => { type: "line"} } }, title:"Accumulating" )
	      # and in this one the extra options are just ignored
	      # column_chart(year_series[1], library: { :series => { 1 => { type: "line"} } }, title:"Accumulating" )
	      %>
            <%= column_chart(year_series[1], title:"Accumulating" )%>
          </div>
        </div>
      </div><!--col-sm-6-->

      <div class="col-sm-6 themed-grid-col">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Publications line chart </h6>
          </div>
          <div class="card-body p-0">
            <% year_series = []
            arts_by_year = Article.where(:status => "Added").group(:pub_year).count
            year_series[0] = {name:"Annual", data: arts_by_year}
            sum = 0
            year_series[1] = {name:"Accumulating", data: arts_by_year.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
            <%= line_chart(year_series, legend: "right")%>

            <% themes_per_year = Theme.joins(:articles).group(:short,:pub_year).order(:id).count
            themes_per_year = themes_per_year.map{|tpy| {name: tpy[0][0], data: [tpy[0][1],tpy[1]]}}
            %>
            <%= column_chart(year_series, :legend=> "right", title:"Annual vs Accumulating")%>
          </div>
        </div>
      </div><!--col-sm-6-->
    </div><!--row mb3 -->
  </main>
</div>
