<div class="container">
  <div class="rounded border-light bg-light ">
    <div class="container col-sm-8 col-8">
        <h5> Live Prototype of the Catalysis Data Infrastructure </h5>
        <p>
	  The Catalysis Data Infrastructure (CDI) allows browsing and searching
	  publications and data objects published by researchers supported-by or affiliated-to 
	  the UK Catalysis Hub.
	<br/>
          The latests numbers indicate that <b> <%= number_with_delimiter(Author.active.length()) %> </b>researchers have 
          collaborated in publishing <b><%= Article.active.count() %></b> papers supproted by UK Catalysis Hub. 
          These papers in turn make reference to <b><%= Dataset.count() %> </b> data objects.
        <br/>
          Information is divided into five groups: Publications, Researchers, Institutions, Themes and Datasets. 
          Each group includes a searchable list and a summary of indicators (yearly publishing, most recent, citation counts, etc.)
         </p>
    </div>
  </div>
  <main role="main">
    <div class="row my-1"><!-- Qucik info row -->
      <div class="col-sm col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-primary  rounded border-primary">
            <div class="col-sm-6">
              <h1><%= Article.active.count() %></h1>
              <h6>Publications</h6>
            </div>
            <div class="col-sm my-1">
              <%= image_tag('books2.svg', height: '48', width: '48', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', articles_path, :class => "btn btn-primary btn-sm btn-block text-dark" %>
          </div>
        </div>
      </div>  <!-- info box -->
      <div class="col-sm col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-secondary  rounded border-secondary my-0">
            <div class="col-sm-6">
              <h1><%= number_with_delimiter(Author.active.length()) %></h1>
              <h6>Authors</h6>
            </div>
            <div class="col-sm my-1">
              <%= image_tag('users.svg', height: '48', width: '48', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', authors_path, :class => "btn btn-secondary btn-sm btn-block text-dark" %>
          </div>
        </div> <!-- info box -->
      </div>
      <div class="col-sm col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-success  rounded border-success">
            <div class="col-sm-6">
              <h1><%= Affiliation.count() %></h1>
              <h6>Institutions</h6>
            </div>
            <div class="col-sm my-1">
              <%= image_tag('institution.svg', height: '48', width: '48', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', affiliations_path, :class => "btn btn-success btn-sm btn-block text-dark" %>
          </div>
        </div> <!-- info box -->
      </div>
      <div class="col-sm col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-danger rounded border-danger ">
            <div class="col-sm-6">
              <h1><%= Theme.count()-2 %></h1>
              <h6 class="card-title">Themes</h6>
            </div>
            <div class="col-sm-6 my-1">
              <%= image_tag('expert.svg', height: '48', width: '48', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', themes_path, :class => "btn btn-danger btn-sm btn-block text-dark" %>
          </div>
        </div> <!-- info box -->
      </div>
      <div class="col-sm col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-warning  rounded border-warning ">
            <div class="col-sm-6">
              <h1><%= Dataset.count() %></h1>
              <h6 class="card-title">Datasets</h6>
            </div>
            <div class="col-sm-6 my-1">
              <%= image_tag('database.svg', height: '48', width: '48', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', datasets_path, :class => "btn btn-warning btn-sm btn-block text-dark" %>
          </div>
        </div> <!-- info box -->
      </div>
    </div>
    <div class="row px-1 my-3">
      <div class="col-sm-6 col-lg-6">
        <div class="card">
          <div class="card-header bg-light">
            <h6 style= "margin:auto">Recent publications</h6>
          </div>
          <div class="card-body p-0" style= "margin:auto">
            <%= render partial: 'articles/articles_recent', locals: {articles: Article.latest.limit(5) }%>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Publications by theme</h6>
          </div>
          <div class="card-body p-0">
            <% # replace model with view
            # themes_list = Theme.joins(:articles).group(:short).order(:id).count()
            themes_list = ListTheme.all.collect{|th|
              [th.short, th.article_count]} %>
              <%= pie_chart themes_list,  legend: "right", donut: true %>
            </div>
          </div>
        </div>
    </div>

    <div class="row px-1 my-3">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Top publishing researchers</h6>
          </div>
          <div class="card-body p-0">
            <% if Author.publications_count.length > 0 %>
            <%= render partial: 'authors/authors_top', locals: {authors: Author.publications_count.limit(5), count_name: "Pubs."}%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Most cited publications</h6>
          </div>
          <div class="card-body p-0">
            <% label_for_view = "Articles" %>
            <%= render partial: 'articles/articles_referenced', locals: {articles: Article.most_cited.limit(5), count_label: label_for_view }%>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Most cited researchers</h6>
          </div>
          <div class="card-body p-0">
            <% if Author.publications_count.length() > 0 %>
            <% label_for_view = "Citations" %>
            <%= render partial: 'authors/authors_top', locals: {authors: Author.citations_count.limit(5), count_name: label_for_view }%>
            <% end %>
          </div>
        </div>
      </div><!--col-sm-3-->
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Publications</h6>
          </div>
          <div class="card-body p-0">
	    <% 
	      # chartkick has not implemented combo chart, sot this code will not work
	      # combo_chart(year_series[1], library: { :series => { 1 => { type: "line"} } }, title:"Accumulating" )
	      # and in this one the extra options are just ignored
	      # column_chart(year_series[1], library: { :series => { 1 => { type: "line"} } }, title:"Accumulating" )
	      %>
             <% year_series = []
              arts_by_year = Article.where(:status => "Added").group(:pub_year).count
              year_series[0] = {name:"Annual", data: arts_by_year}
              sum = 0
              year_series[1] = {name:"Accumulating", data: arts_by_year.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
           
            <% themes_per_year = Theme.joins(:articles).group(:short,:pub_year).order(:id).count
              themes_per_year = themes_per_year.map{|tpy| {name: tpy[0][0], data: [tpy[0][1],tpy[1]]}}
            %>
            <%= column_chart(year_series, :legend=> "right", title:"Annual vs Accumulating")%>
          </div>
        </div>
      </div><!--col-sm-6-->
      <div class="col-sm-6 themed-grid-col">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Publications line chart </h6>
          </div>
          <div class="card-body p-0">
            <% year_series = []
            arts_by_year = Article.where(:status => "Added").group(:pub_year).count
            year_series[0] = {name:"Annual", data: arts_by_year}
            sum = 0
            year_series[1] = {name:"Accumulating", data: arts_by_year.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
            <%= line_chart(year_series, legend: "right", title:"Annual vs Accumulating" )%>
          </div>
        </div>
        
      </div><!--col-sm-6-->
    </div><!--row mb3 -->

        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Phase II (2019-2023) Themes</h6>
              </div>
              <div class="card-body p-0" >
                <div class = "row" >
                  <div class="col-sm-6">
                    <div id="top_publishers" class="container">
                      <% theme_pubs = ListTheme.where("id IN (7,8,9,10)").collect{|th|
		          [th.name, th.article_count]} %>
		      <br/>
		      <br/>
                      <table class="table table-sm table-striped table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th>Type</th>
                            <th>Data objects</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% theme_pubs.each do |tpl| %>
                          <tr>
                            <td>
                              <%= tpl[0] %>
                            </td>
                            <td class="text-right">
                              <%= tpl[1] %>
                            </td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>

                    </div>
                  </div>
                  <div class="col-sm-6">
		    <% # replace model with view
		      themes_list = ListTheme.where("id IN (7,8,9,10)").collect{|th|
		        [th.short, th.article_count]} %>
		      <%= pie_chart themes_list,  legend: "right", donut: true %>
		      <p>
		      <%= link_to 'Download Data', themes_path, :class => "btn-success btn-sm" %>
		      <%= link_to 'View Themes', themes_path, :class => "btn-success btn-sm" %>
		      <p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--row mb3 -->
        
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Phase I (2013-2018) Themes</h6>
              </div>
              <div class="card-body p-0" >
                <div class = "row" >
                  <div class="col-sm-6">
                    <div id="top_publishers" class="container">
                      <% theme_pubs = ListTheme.where("id IN (1,2,3,4,5)").collect{|th|
		          [th.name, th.article_count]} %>
		      <br/>
		      <br/>
                      <table class="table table-sm table-striped table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th>Type</th>
                            <th>Data objects</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% theme_pubs.each do |tpl| %>
                          <tr>
                            <td>
                              <%= tpl[0] %>
                            </td>
                            <td class="text-right">
                              <%= tpl[1] %>
                            </td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-6">
		    <% # replace model with view
		      themes_list = ListTheme.where("id IN (1,2,3,4,5)").collect{|th|
		        [th.short, th.article_count]} %>
		      <%= pie_chart themes_list,  legend: "right", donut: true %>
		      <p>
		      <%= link_to 'Download Data', themes_path, :class => "btn-success btn-sm" %>
		      <%= link_to 'View Themes', themes_path, :class => "btn-success btn-sm" %>
		      <p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--row mb3 -->
            <!-- Institutions -->
	    <div class="row mb-3">
		<div class="col-sm-12">
		    <div class="card">
		      <div class="card-header">
			<h6 style= "margin:auto">Institutions</h6>
		      </div>
		      <div class="card-body p-0">
		      <div class="row">
			<div class="col-sm-6">
			    <br/>
			     <% aut_countries = Affiliation.country_count
			        aut_countries = aut_countries.sort_by{|k,v| -v}
				country_data = []
				aut_countries.each {|ac|
				if ac[0] == "Peoples Republic of China" then
				  country_data.append(["China", ac[1]])
				elsif ac[0] == "United States of America" then
				  country_data.append(["United States", ac[1]])
				elsif ac[0] == "The Netherlands" then
				  country_data.append(["Netherlands", ac[1]])
				elsif ac[0] == "Brasil" then
				  country_data.append(["Brazil", ac[1]])				  
				else
				  country_data.append([ac[0], ac[1]])
				end
				} %>
		      		<%= geo_chart country_data, title: "Contributions" %>
			 </div>
				<div class="col-sm-6">
				    <% if Author.data_objects_count.length()>0 %>
				    <h6>Countries of origin (using author affiliations)</h6>
				    <%= render partial: 'affiliations/affiliation_top', locals: {items: country_data[0..6], count_name: "Institutions"}%>
				    <% end %>
				    <p>
				      <%= link_to 'Download Data', datasets_path, :class => "btn-success btn-sm" %>
				      <%= link_to 'View Data Objects', datasets_path, :class => "btn-success btn-sm" %>
				    <p>
				</div>
			      </div>
			    </div>
			  </div>
			</div><!--col-sm-12-->
	    </div> <!--row mb3 -->   
        
        <!-- Researchers -->
        
        
        <!-- Publications per Theme -->
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Publications by Theme</h6>
              </div>
              <div class="card-body p-0" >
                <div class = "row" >
                  <div class="col-sm-6">
		    <% # replace model with view
		      themes_list = ListTheme.where("id IN (1,2,3,4,5)").collect{|th|
		        [th.short, th.article_count]} %>
		      <%= pie_chart themes_list,  legend: "right", donut: true, title: 'Phase I (2013-2018)' %>        
                  </div>
                  <div class="col-sm-6">
		    <% # replace model with view
		      themes_list = ListTheme.where("id IN (7,8,9,10)").collect{|th|
		        [th.short, th.article_count]} %>
		      <%= pie_chart themes_list,  legend: "right", donut: true, title: 'Phase II (2019-2023)' %>
		      <p>
		      <%= link_to 'Download Data', themes_path, :class => "btn-success btn-sm" %>
		      <%= link_to 'View Themes', themes_path, :class => "btn-success btn-sm" %>
		      <p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--row mb3 -->
        
 
    <!-- Data Objects -->
    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h6 style= "margin:auto">Data objects</h6>
              </div>
              <div class="card-body p-0">
              <div class="row">
                <div class="col-sm-6">
                    <% year_series = []
                      do_by_year = Dataset.ds_per_year
                      doby = do_by_year.each.collect{ |doby| [doby['item'], doby['i_count']]}
                      year_series[0] = {name:"per year", data: doby}
                      sum = 0
                      year_series[1] = {name:"accumulated", data: doby.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
                   <%= column_chart(year_series, :legend=> "bottom", title:"Published Data Objects")%>
                </div>
                <div class="col-sm-6">
                    <% if Author.data_objects_count.length()>0 %>
                    <h6>Top Data Publishing Researchers</h6>
                    <%= render partial: 'authors/authors_top', locals: {authors: Author.data_objects_count.limit(10), count_name: "Data Objects"}%>
                    <% end %>
                    <p>
		      <%= link_to 'Download Data', datasets_path, :class => "btn-success btn-sm" %>
		      <%= link_to 'View Data Objects', datasets_path, :class => "btn-success btn-sm" %>
		    <p>
                </div>
              </div>
            </div>
          </div>
        </div><!--col-sm-12-->
    </div> <!--row mb3 -->
  
        
  </main>
</div>
