<%= javascript_include_tag('dashboard.js') %>
<% @authors_list = Article.active.joins(:authors).select("authors.id, full_name, COUNT(*) AS 'article_count'").order("article_count DESC").group("authors.full_name").limit(5) %>
<div class="container">
  <main role="main">
    <div class="row"><!-- Qucik info row -->
      <div class="col-sm-3 col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-primary  rounded border-primary">
            <div class="col-sm-6">
        			<h1><%= Article.active.count() %></h1>
        			<p>Publications</p>
        		</div>
            <div class="col-sm-6 my-1">
        			<%= image_tag('books2.svg', height: '64', width: '64', class: "rounded float-right d-block") %>
        		</div>
            <%= link_to 'More Info', articles_path, :class => "btn btn-primary btn-sm btn-block text-dark" %>
        	</div>
        </div>
      </div>  <!-- info box -->
        <div class="col-sm-3 col-6">
          <div class="container"><!-- info box -->
            <div class="row bg-secondary  rounded border-secondary my-0">
              <div class="col-sm-6">
          			<h1><%= Author.count() %></h1>
          			<p>Authors</p>
          		</div>
              <div class="col-sm-6 my-1">
          			<%= image_tag('users.svg', height: '64', width: '64', class: "rounded float-right d-block") %>
          		</div>
              <%= link_to 'More Info', authors_path, :class => "btn btn-secondary btn-sm btn-block text-dark" %>
          	</div>
        </div> <!-- info box -->
      </div>
      <div class="col-sm-3 col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-success  rounded border-success">
            <div class="col-sm-6">
        			<h1><%= Affiliation.count() %></h1>
        			<p>Institutions</p>
        		</div>
            <div class="col-sm-6 my-1">
        			<%= image_tag('institution.svg', height: '64', width: '64', class: "rounded float-right d-block") %>
        		</div>
            <%= link_to 'More Info', affiliations_path, :class => "btn btn-success btn-sm btn-block text-dark" %>
        	</div>
        </div> <!-- info box -->
      </div>
      <div class="col-sm-3 col-6">
        <div class="container"><!-- info box -->
          <div class="row bg-danger  rounded border-danger ">
            <div class="col-sm-6">
              <h1><%= Dataset.count() %></h1>
              <p>Datasets</p>
            </div>
            <div class="col-sm-6 my-1">
              <%= image_tag('database.svg', height: '64', width: '64', class: "rounded float-right d-block") %>
            </div>
            <%= link_to 'More Info', datasets_path, :class => "btn btn-danger btn-sm btn-block text-dark" %>
          </div>
        </div> <!-- info box -->
      </div>
    </div>
    <div class="row">
    	<div class="row mb-3">
    		<div class="col-sm-6 col-lg-4 themed-grid-col shadow-sm">
          <b> Top Publishing Authors</b>
    			<%= render partial: 'authors/authors_top', locals: {authors: @authors_list }%>
    		</div>
    		<div class="col-sm-6 col-lg-8 themed-grid-col shadow-sm">
          <b> Most Cited Papers<small class="text-muted"> (According to Cross Ref) </small></b>
    			<%= render partial: 'articles/articles_referenced', locals: {articles: Article.most_cited.limit(5) }%>
    		</div>
    	</div>
    	<div class="row mb-3">
        <div class="col-sm-4">
    			<div class="card mb-4 shadow-sm">
    				<div class='img-container1'>
    					<%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%>
    				</div>
    				<div class="card-body">
    					<p class="card-text"> </p>
    					<div class="d-flex justify-content-between align-items-center">
    						<div class="btn-group">
    							buttons
    						</div>
    						<small class="text-muted">something else </small>
    					</div>
    				</div>
    			</div>
        </div><!--col-sm-4-->

    		<div class="col-6 col-sm-4 themed-grid-col">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              title
            </div>
            <div class="card-body">
              <%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
            </div>
          </div>
        </div>

    		<div class="col-6 col-sm-4 themed-grid-col">
          <div class="card">
            <div class="card-header border-0">
              <h1 class="card-title">Articles</h1>
            </div>
            <div class="card-body table-responsive p-0">
              <%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%>
            </div>
          </div> <!-- /.card -->
        </div>
    	</div>
    	<div class="row mb-3">
    		<div class="col-8 themed-grid-col">
          <b> Most Recent Papers<small class="text-muted"> (According publication date) </small></b>
          <%= render partial: 'articles/articles_recent', locals: {articles: Article.latest.limit(5) }%>
        </div>
    		<div class="col-4 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
    	</div>
    </main>
  </div>
</div>
