<%= javascript_include_tag('dashboard.js') %>
<div class="container">
  <div class="row">
    <main role="main">
	<h2 class="mt-4">Latest Data on Articles</h2>
	<div class="row mb-3">
		<div class="col-sm-6 col-lg-4 themed-grid-col">
      <% @authors_list = Article.active.joins(:authors).select("full_name, COUNT(*) AS 'article_count'").order("article_count DESC").group("authors.full_name").limit(10) %>
			<%= render partial: 'authors/authors_top', locals: {authors: @authors_list }%>
		</div>
		<div class="col-6 col-lg-8 themed-grid-col">
			<%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-6 col-sm-4 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
		<div class="col-6 col-sm-4 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
		<div class="col-6 col-sm-4 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
	</div>
	<div class="row mb-3">
		<div class="col-6 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
		<div class="col-6 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
	</div>
    </main>
  </div>
</div>
