<div class="container">
  <%= render partial: 'layouts/index_notice', locals: {obj_data: get_home_section} %>
  <main role="main">
    <%= render partial: 'home/quick_info', locals: {do_data: get_do_section}%>
    <!--Publications-->
    <%= render partial: 'home/pubs_info'%>
    <!-- Researchers -->
    <%= render partial: 'home/rsrch_info'%>
    <!-- Affiliations -->
    <%= render partial: 'home/affil_info'%>
    <% if get_theme_section.visible %>
    <!-- Publications per Theme -->
    <%= render partial: 'home/theme_info'%>
    <% end %>
    <% if get_do_section.visible %>
    <!-- Data Objects -->
    <%= render partial: 'home/dobs_info'%>
    <% end %>
  </main>
</div>
