<%= javascript_include_tag('dashboard.js') %>
<div class="container">
  <div class="row">
    <main role="main">
	<h2 class="mt-4">Latest Data on Articles</h2>
	<div class="row mb-3">
		<div class="col-sm-6 col-lg-6 themed-grid-col">
			<%= render partial: 'articles/articles_top', locals: {articles: @cited_articles }%>
		</div>
		<div class="col-6 col-lg-6 themed-grid-col">
			<%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-6 col-sm-4 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
		<div class="col-6 col-sm-4 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
		<div class="col-6 col-sm-4 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
	</div>
	<div class="row mb-3">
		<div class="col-6 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
		<div class="col-6 themed-grid-col"><%= render partial: 'articles/articles_top', locals: {articles: @latest_articles }%></div>
	</div>
    </main>
  </div>
</div>
