<div class="container">
  <div class="rounded border-light bg-light ">
    <div class="container col-sm-8 col-8">
        <h1>Catalysis Data Infrastructure (CDI) </h1>
        <p>
	      CDI indexes publications and data objects produced by UK Catalysis Hub researchers.
         </p>
    </div>
  </div>
  <main role="main">
    <%= render partial: 'home/quick_info'%>
    <!--Publications-->
    <%= render partial: 'home/pubs_info'%>
    <!-- Researchers -->
    <%= render partial: 'home/rsrch_info'%>
    <!-- Affiliations -->
    <%= render partial: 'home/affil_info'%>
    <!-- Publications per Theme -->
    <%= render partial: 'home/theme_info'%>
    <!-- Data Objects -->
    <%= render partial: 'home/dobs_info'%>
  </main>
</div>
