<div class="container">
  <div class="rounded border-light bg-light ">
    <div class="container col-sm-8 col-8">
        <h5> Live Prototype of the Catalysis Data Infrastructure </h5>
        <p>
	  The Catalysis Data Infrastructure (CDI) allows browsing and searching
	  publications and data objects published by researchers supported-by or affiliated-to 
	  the UK Catalysis Hub.
	<br/>
          The latests numbers indicate that <b> <%= number_with_delimiter(Author.active.length()) %> </b>researchers have 
          collaborated in publishing <b><%= Article.active.count() %></b> papers supproted by UK Catalysis Hub. 
          These papers in turn make reference to <b><%= Dataset.count() %> </b> data objects.
        <br/>
          Information is divided into five groups: Publications, Researchers, Institutions, Themes and Datasets. 
          Each group includes a searchable list and a summary of indicators (yearly publishing, most recent, citation counts, etc.)
         </p>
    </div>
  </div>
  <main role="main">
    <%= render partial: 'home/quick_info'%>

    <!--Publications-->
    <div class="row px-1 my-3">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header bg-light">
                    <h6 style= "margin:auto">Publications</h6>
                </div>
                <div class="card-body p-0" style= "margin:auto">
                    <div class="row">
                        <div class="col-sm-6">
                            <% year_series = []
                              arts_by_year = Article.where(:status => "Added").group(:pub_year).count
                              year_series[0] = {name:"Annual", data: arts_by_year}
                              sum = 0
                              year_series[1] = {name:"Accumulating", data: arts_by_year.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
                            <%= column_chart(year_series, :legend=> "bottom", title:"Publications Annual vs Accumulating")%>
                        </div>
                        <div class="col-sm-6">
                            <h6 style= "text-align:center">Recent publications</h6>
                            <%= render partial: 'articles/articles_recent', locals: {articles: Article.latest.limit(5) }%>
                        </div><!--col-sm-6-->
                    </div><!--row-->
	            </div><!--card body-->
	        </div><!--card-->
        </div><!--col-sm-12-->
    </div><!-- div row -->

    <!-- Researchers -->
    <div class="row px-1 my-3">
      <div class="col-sm-12">
	    <div class="card">
	        <div class="card-header">
		        <h6 style= "margin:auto">Researchers</h6>
		    </div>
		    <div class="card-body p-0">
  		        <div class="row">
		            <div class="col-sm-4">
		                <h6 style= "text-align: center;">Top publishing researchers</h6>
		                <% if Author.publications_count.length > 0 %>
		                <%= render partial: 'authors/authors_top', locals: {authors: Author.publications_count.limit(5), count_name: "Pubs."}%>
                        <% end %>
        		    </div>
                    <div class="col-sm-4">
                        <h6 style= "text-align: center;">Top publishing researchers (non P.I.)</h6>
                        <% if Author.publications_count.length() > 0 %>
                        <% except ='authors.id not in (11, 15, 23, 22, 99, 111, 120, 134, 154, 171, 329)' %>
                        <%= render partial: 'authors/authors_top', locals: {authors: Author.publications_count.where(except).limit(5), count_name: "Publications" }%>
                        <% end %>
                    </div>
                    <div class="col-sm-4">
                        <h6 style= "text-align: center;">Most cited researchers</h6
                        <% if Author.publications_count.length() > 0 %>
                        <% label_for_view = "Citations" %>
                        <%= render partial: 'authors/authors_top', locals: {authors: Author.citations_count.limit(5), count_name: label_for_view }%>
                        <% end %>                      
                    </div><!--col-sm-4-->
                </div><!--row-->
            </div><!--card body-->
	    </div><!--card-->
      </div><!--col-sm-12-->
    </div><!-- div row -->
    
    
    <!-- Affiliations -->
    <div class="row mb-3">
        <div class="col-sm-12">
	    <div class="card">
	        <div class="card-header">
		    <h6 style= "margin:auto">Institutions</h6>
	        </div>
	        <div class="card-body p-0">
	        <div class="row">
		    <div class="col-sm-6 container" >
		     <% aff_stats = InstCtryStat.all.order('inst_count desc')
		        country_data = []
		        aff_stats.each do |affsts|
		            if affsts.country == "Peoples Republic of China" then
		                 country_data.append(["China", affsts.inst_count])
                            elsif affsts.country == "United States of America" then
			         country_data.append(["United States", affsts.inst_count])
                            elsif affsts.country == "The Netherlands" then
                                country_data.append(["Netherlands", affsts.inst_count])
                            else
                                country_data.append([affsts.country, affsts.inst_count])
                            end
                        end %>
		    <%= render partial: 'affiliations/affiliation_map', locals:{country_data: country_data} %>
		 </div>
			<div class="col-sm-6 container">
			    <% if Author.data_objects_count.length()>0 %>
			    <h6 style= "text-align: center;">Countries of origin</h6>
			    <%= render partial: 'affiliations/affiliation_top', locals: {items: country_data[0..9], count_name: "Institutions"}%>
			    <% end %>
			    <p>
			      <%= link_to 'Download Data', {:action => "ctry_affi_count", :controller => "affiliations"}, :class => "btn-success btn-sm" %>
			      <%= link_to 'View Institutions', affiliations_path, :class => "btn-success btn-sm" %>
			    <p>
			</div>
		      </div>
		    </div>
		  </div>
		</div><!--col-sm-12-->
	    </div> <!--row mb3 -->   
        
        <!-- Publications per Theme -->
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header bg-light">
                <h6 style= "margin:auto">Publications by Theme</h6>
              </div>
              <div class="card-body p-0" >
                <div class = "row" >
                  <div class="col-sm-6">
		    <% # replace model with view
		      themes_list = ListTheme.where("id IN (1,2,3,4,5)").collect{|th|
		        [th.short, th.article_count]} %>
		      <%= pie_chart themes_list,  legend: "right", donut: true, title: 'Phase I (2013-2018)' %>        
                  </div>
                  <div class="col-sm-6">
		    <% # replace model with view
		      themes_list = ListTheme.where("id IN (7,8,9,10)").collect{|th|
		        [th.short, th.article_count]} %>
		      <%= pie_chart themes_list,  legend: "right", donut: true, title: 'Phase II (2019-2023)' %>
		      <p>
		      <%= link_to 'Download Data', {:action => "themes_count", :controller => "themes"}, :class => "btn-success btn-sm" %>
		      <%= link_to 'View Themes', themes_path, :class => "btn-success btn-sm" %>
		      <p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--row mb3 -->
        
 
    <!-- Data Objects -->
    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h6 style= "margin:auto">Data objects</h6>
              </div>
              <div class="card-body p-0">
              <div class="row">
                <div class="col-sm-6">
                    <% year_series = []
                      do_by_year = Dataset.ds_per_year
                      doby = do_by_year.each.collect{ |doby| [doby['item'], doby['i_count']]}
                      year_series[0] = {name:"per year", data: doby}
                      sum = 0
                      year_series[1] = {name:"accumulated", data: doby.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
                   <%= column_chart(year_series, :legend=> "bottom", title:"Published Data Objects")%>
                    <p>
		      <%= link_to 'Download Data', {:action => "data_count", :controller => "datasets"}, :class => "btn-success btn-sm" %>
		      <%= link_to 'View Data Objects', datasets_path, :class => "btn-success btn-sm" %>
		    <p>
		 </div>
                <div class="col-sm-6">
                    <% if Author.data_objects_count.length()>0 %>
                    <h6 style= "text-align: center;">Top Data Publishing Researchers</h6>
                    <%= render partial: 'authors/authors_top', locals: {authors: Author.data_objects_count.limit(10), count_name: "Data Objects"}%>
                    <% end %>

                </div>
              </div>
            </div>
          </div>
        </div><!--col-sm-12-->
    </div> <!--row mb3 -->
  
        
  </main>
</div>
