<div id="<%= dom_id section %>">
  <p>
    <strong>Obj name:</strong>
    <%= section.obj_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= section.name %>
  </p>

  <p>
    <strong>Heading:</strong>
    <%= section.heading %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= section.description %>
  </p>

  <p>
    <strong>Visible:</strong>
    <%= section.visible %>
  </p>

</div>
