<%= form_with(model: cr_affiliation) do |form| %>
  <% if cr_affiliation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cr_affiliation.errors.count, "error") %> prohibited this cr_affiliation from being saved:</h2>

      <ul>
        <% cr_affiliation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :article_author_id, style: "display: block" %>
    <%= form.text_field :article_author_id %>
  </div>

  <div>
    <%= form.label :author_affiliation_id, style: "display: block" %>
    <%= form.text_field :author_affiliation_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
