<p style="color: green"><%= notice %></p>

<%= render @cr_affiliation %>

<div>
  <%= link_to "Edit this cr affiliation", edit_cr_affiliation_path(@cr_affiliation) %> |
  <%= link_to "Back to cr affiliations", cr_affiliations_path %>

  <%= button_to "Destroy this cr affiliation", @cr_affiliation, method: :delete %>
</div>
