<div id="<%= dom_id affiliation %>">
  <p>
    <strong>Institution:</strong>
    <%= affiliation.institution %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= affiliation.department %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= affiliation.faculty %>
  </p>

  <p>
    <strong>School:</strong>
    <%= affiliation.school %>
  </p>

  <p>
    <strong>Work group:</strong>
    <%= affiliation.work_group %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= affiliation.country %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= affiliation.sector %>
  </p>

</div>
