<!--List of affiliations-->
<div class="tab-pane fade show active" id="browse" role="tabpanel" aria-labelledby="browse-tab">
     <div class="row">
       <div class="col-md-12">
         <!-- Top DIV: search, order, reset -->
         <p id="notice"><%= notice %></p>
           <%= form_tag nil, method: :get do %>
            <!-- Field for searching by institution -->
             <%= hidden_field_tag 'search[order]', affi_search.order.definition.request_value if affi_search.order %>
             <div class="row">
               <div class="col-md-4">
                 <!-- Set sort order -->
                   <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"> Sort by: <%= affi_search.order.title 	 if affi_search.order %>
                   <span class="caret"></span></button>
                   <ul class="dropdown-menu">
                     <% affi_search.orders.reject(&:active).each do |order| %>
                     <li> <%= link_to order.title, order.by.path %> </li>
                     <% end %>
                   </ul>
               </div>
               <div class="col-md-2">
                 <%= link_to 'reset', '?', class: 'btn  btn-success float-right' %>
               </div>
             </div>
           <% end %>
       </div>
     </div>
     <br/>
     <div class="row">
       <div class="col-md-3 rounded border-light bg-light " >
         <!-- left DIV: facet filters -->
           <%= form_tag nil, method: :get do %>
             <!-- Field for searching by title -->
             <%= hidden_field_tag 'search[order]', affi_search.order.definition.request_value if affi_search.order %>
             <!-- Facet filter for institution -->
             <% [:institution].each do |filter_name| %>
                <% filter = affi_search.filter(filter_name) %>
                <div class="filter">
                  <div class="filter-title">
                    <%= filter.name %>
                    <span class="small text-muted">
                      <%= "(#{filter.facet.length})" %>
                    </span>
                  </div>
                  <div class="filter-values">
                    <ul class="selected">
                      <% filter.selected.each do |entity| %>
                        <% display = entity %>
                        <li>
                          <%= link_to display, filter.remove(entity).path %>
                        </li>
                      <% end %>
                    </ul>
                    <ul class="selectable">
                      <% filter.facet.reject(&:selected).each do |facet_value| %>
                        <% entity = facet_value.entity %>
                        <li>
                          <% display = entity %>
                          <%= link_to display, filter.add(entity).path %>
                          <span class="count">
                            <!--Cannot have inactives the filter does not work with scopes -->
                            <%= "(#{facet_value.count})" %>
                          </span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %><!--end of each do-->
             <!-- Facet filter for department -->
             <% [:department].each do |filter_name| %>
                <% filter = affi_search.filter(filter_name) %>
                <div class="filter">
                  <div class="filter-title">
                    <%= filter.name %>
                    <span class="small text-muted">
                      <%= "(#{filter.facet.length})" %>
                    </span>
                  </div>
                  <div class="filter-values">
                    <ul class="selected">
                      <% filter.selected.each do |entity| %>
                        <% display = entity %>
                        <li>
                          <%= link_to display, filter.remove(entity).path %>
                        </li>
                      <% end %>
                    </ul>
                    <ul class="selectable">
                      <% filter.facet.reject(&:selected).each do |facet_value| %>
                        <% entity = facet_value.entity %>
                        <% if entity != nil %>
                          <li>
                            <% display = entity %>
                            <%= link_to display, filter.add(entity).path %>
                            <span class="count">
                              <!--Cannot have inactives the filter does not work with scopes -->
                              <%= "(#{facet_value.count})" %>
                            </span>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %><!--end of each do-->
             <!-- Facet filter for school -->
             <% [:school].each do |filter_name| %>
                <% filter = affi_search.filter(filter_name)  %>
                <div class="filter">
                  <div class="filter-title">
                    <%= filter.name %>
                    <span class="small text-muted">
                      <%= "(#{filter.facet.length})" %>
                    </span>
                  </div>
                  <div class="filter-values">
                    <ul class="selected">
                      <% filter.selected.each do |entity| %>
                          <% display = entity %>
                          <li>
                            <%= link_to display, filter.remove(entity).path %>
                          </li>
                      <% end %>
                    </ul>
                    <ul class="selectable">
                      <% filter.facet.reject(&:selected).each do |facet_value| %>
                        <% entity = facet_value.entity %>
                        <% if entity != nil %>
                          <li>
                            <% display = entity %>
                            <%= link_to display, filter.add(entity).path %>
                            <span class="count">
                              <!--Cannot have inactives the filter does not work with scopes -->
                              <%= "(#{facet_value.count})" %>
                            </span>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %><!--end of each do-->
             <!-- Facet filter for sector -->
             <% [:sector].each do |filter_name| %>
                <% filter = affi_search.filter(filter_name) %>
                <div class="filter">
                  <div class="filter-title">
                    <%= filter.name %>
                    <span class="small text-muted">
                      <%= "(#{filter.facet.length})" %>
                    </span>
                  </div>
                  <div class="filter-values">
                    <ul class="selected">
                      <% filter.selected.each do |entity| %>
                        <% display = entity %>
                        <li>
                          <%= link_to display, filter.remove(entity).path %>
                        </li>
                      <% end %>
                    </ul>
                    <ul class="selectable">
                      <% filter.facet.reject(&:selected).each do |facet_value| %>
                        <% entity = facet_value.entity %>
                        <li>
                          <% display = entity %>
                          <%= link_to display, filter.add(entity).path %>
                          <span class="count">
                            <!--Cannot have inactives the filter does not work with scopes -->
                            <%= "(#{facet_value.count})" %>
                          </span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %><!--end of each do-->
             <!-- Facet filter for country -->
             <% [:country].each do |filter_name| %>
                <% filter = affi_search.filter(filter_name) %>
                <div class="filter">
                  <div class="filter-title">
                    <%= filter.name %>
                    <span class="small text-muted">
                      <%= "(#{filter.facet.length})" %>
                    </span>
                  </div>
                  <div class="filter-values">
                    <ul class="selected">
                      <% filter.selected.each do |entity| %>
                        <% display = entity %>
                        <li>
                          <%= link_to display, filter.remove(entity).path %>
                        </li>
                      <% end %>
                    </ul>
                    <ul class="selectable">
                      <% filter.facet.reject(&:selected).each do |facet_value| %>
                        <% entity = facet_value.entity %>
                        <li>
                          <% display = entity %>
                          <%= link_to display, filter.add(entity).path %>
                          <span class="count">
                            <!--Cannot have inactives the filter does not work with scopes -->
                            <%= "(#{facet_value.count})" %>
                          </span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %><!--end of each do-->
              <% end %><!--end of form for facets-->
            </div>
        <div class="col-md-9"><!--List of items in page -->
        <%= will_paginate affi_results, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
	  <b> <%= affi_results.count%> Affiliations found</b> 
	  <%= render 'affiliations/affiliations_list', affiliations: affi_results %>
	</div><!-- col right DIV: list -->
  </div><!-- row DIV: facets and list -->

