<div class="container">
  
  <p id="notice"><%= notice %></p>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Affiliations (<%= affiliations.length() %>)</th>
        <th>Country</th>
        <th>Articles</th>
        <th>Data Objects</th>
      </tr>
    </thead>
    <tbody>
      <% affiliations.sort %>
      <% affiliations.each do |affiliation| %>
        <tr>
          <td>
            <%
              str_affiliation = affiliation.institution
              (affiliation.department == nil) ? nil : str_affiliation += ", " + affiliation.department
              (affiliation.faculty == nil) ? nil : str_affiliation += ", " + affiliation.faculty
              (affiliation.work_group == nil) ? nil : str_affiliation += ", " + affiliation.work_group
            %>
            <%= link_to str_affiliation, affiliation %>
          </td>
          <td>
            <%= affiliation.country %>
          </td>
          <td>
            <% au_affis = affiliation.author_affiliations %>
            <% art_count = au_affis.joins("INNER JOIN article_authors on author_affiliations.article_author_id = article_authors.id").group(:article_id).count().count() %>
            <%= art_count %>
          </td>
          <td>
            <% do_count = au_affis.joins("INNER JOIN article_authors on author_affiliations.article_author_id = article_authors.id").joins("INNER JOIN article_datasets on article_authors.article_id = article_datasets.article_id").group("article_datasets.id").count().count() %>
            <%= do_count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
