<%= form_with(model: affiliation) do |form| %>
  <% if affiliation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(affiliation.errors.count, "error") %> prohibited this affiliation from being saved:</h2>

      <ul>
        <% affiliation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :institution, style: "display: block" %>
    <%= form.text_field :institution %>
  </div>

  <div>
    <%= form.label :department, style: "display: block" %>
    <%= form.text_field :department %>
  </div>

  <div>
    <%= form.label :faculty, style: "display: block" %>
    <%= form.text_field :faculty %>
  </div>

  <div>
    <%= form.label :school, style: "display: block" %>
    <%= form.text_field :school %>
  </div>

  <div>
    <%= form.label :work_group, style: "display: block" %>
    <%= form.text_field :work_group %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :sector, style: "display: block" %>
    <%= form.text_field :sector %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
