<div class="container">
 <div class="rounded border-light bg-light ">
    <div class="container">
        <h5> Institutuions with relations to UK Catalysis Hub</h5>
        <p>
          Researchers affiliated to <%= number_with_delimiter(Affiliation.all.length()) %> institutions have 
          collaborated in publishing <%= Article.active.count() %> papers supproted by UK Catalysis Hub
        </p>
        <ul>
          <li>The institutions allows browsing the institutions which have participated collabrated with the UK Catalysis Hub.</li>
          <li>The indicators tab shows statistics about institutions.</li>
         </ul>
    </div>
  </div>
  <%= will_paginate @affiliations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
  <b> <%= @affiliations.count%> Institutions found</b> 
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Institutions</th>
        <th>Country</th>
      </tr>
    </thead>

    <tbody>
      <% @affiliations.each do |affiliation| %>
        <tr>
          <td>
            <%
              str_affiliation = affiliation.institution
              (affiliation.department == nil) ? nil : str_affiliation += ", " + affiliation.department
              (affiliation.faculty == nil) ? nil : str_affiliation += ", " + affiliation.faculty
              (affiliation.work_group == nil) ? nil : str_affiliation += ", " + affiliation.work_group
            %>
            <%= link_to str_affiliation, affiliation %> 
          </td>
          <td>
            <%= affiliation.country %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
