<div class='container'>
  <!--Notice for explaining page contents -->
  <%= render 'affiliations_notice', affiliations: @affiliations %>
  <!--tab control header-->
  <ul class="nav nav-tabs" id="publicationsTab" role="tablist">
     <li class="nav-item">
       <a class="nav-link active" id="home-tab" data-toggle="tab" href="#browse" role="tab" aria-controls="browse" aria-selected="true">Institutions</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" id="profile-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="statistics" aria-selected="false">Indicators</a>
     </li>   
  </ul>
  <!--tab control contents-->
  <div class="tab-content" id="myTabContent">
   <div class="tab-pane fade show active" id="browse" role="tabpanel" aria-labelledby="browse-tab">
     <div class="row">
       <div class="col-md-12">
         <!-- Top DIV: search, order, reset -->
         <p id="notice"><%= notice %></p>
           <%= form_tag nil, method: :get do %>
            <!-- Field for searching by institution -->
             <%= hidden_field_tag 'search[order]', @search.order.definition.request_value if @search.order %>
             <div class="row">
               <div class="col-md-1">
                 <b> Search: </b>
               </div>
               <div class="col-md-5">
                 <% #institution_filter = @search.filter(:institution) %>
                 <% #= text_field_tag 'search[institution]', institution_filter.value, class: 'form-control', placeholder: institution_filter.name %>
               </div>
               <div class="col-md-4">
                 <!-- Set sort order -->
                   <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"> sort by: <%= @search.order.title 	 if @search.order %>
                   <span class="caret"></span></button>
                   <ul class="dropdown-menu">
                     <% @search.orders.reject(&:active).each do |order| %>
                     <li> <%= link_to order.title, order.by.path %> </li>
                     <% end %>
                   </ul>
               </div>
               <div class="col-md-2">
                 <%= link_to 'reset', '?', class: 'btn  btn-success float-right' %>
               </div>
             </div>
           <% end %>
       </div>
     </div>
     <br/>
     <div class="row">
       <div class="col-md-3 rounded border-light bg-light " >
         <!-- left DIV: facet filters -->
           <%= form_tag nil, method: :get do %>
             <!-- Field for searching by title -->
             <%= hidden_field_tag 'search[order]', @search.order.definition.request_value if @search.order %>
             <!-- Facet filter for institution -->
             <% [:institution].each do |filter_name| %>
                <% filter = @search.filter(filter_name) %>
                <div class="filter">
                  <div class="filter-title">
                    <%= filter.name %>
                    <span class="small text-muted">
                      <%= "(#{filter.facet.length})" %>
                    </span>
                  </div>
                  <div class="filter-values">
                    <ul class="selected">
                      <% filter.selected.each do |entity| %>
                        <% display = entity %>
                        <li>
                          <%= link_to display, filter.remove(entity).path %>
                        </li>
                      <% end %>
                    </ul>
                    <ul class="selectable">
                      <% filter.facet.reject(&:selected).each do |facet_value| %>
                        <% entity = facet_value.entity %>
                        <li>
                          <% display = entity %>
                          <%= link_to display, filter.add(entity).path %>
                          <span class="count">
                            <!--Cannot have inactives the filter does not work with scopes -->
                            <%= "(#{facet_value.count})" %>
                          </span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %><!--end of each do-->
             <!-- Facet filter for department -->
             <% [:department].each do |filter_name| %>
                <% filter = @search.filter(filter_name) %>
                <div class="filter">
                  <div class="filter-title">
                    <%= filter.name %>
                    <span class="small text-muted">
                      <%= "(#{filter.facet.length})" %>
                    </span>
                  </div>
                  <div class="filter-values">
                    <ul class="selected">
                      <% filter.selected.each do |entity| %>
                        <% display = entity %>
                        <li>
                          <%= link_to display, filter.remove(entity).path %>
                        </li>
                      <% end %>
                    </ul>
                    <ul class="selectable">
                      <% filter.facet.reject(&:selected).each do |facet_value| %>
                        <% entity = facet_value.entity %>
                        <li>
                          <% display = entity %>
                          <%= link_to display, filter.add(entity).path %>
                          <span class="count">
                            <!--Cannot have inactives the filter does not work with scopes -->
                            <%= "(#{facet_value.count})" %>
                          </span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %><!--end of each do-->
             <!-- Facet filter for country -->
             <% [:country].each do |filter_name| %>
                <% filter = @search.filter(filter_name) %>
                <div class="filter">
                  <div class="filter-title">
                    <%= filter.name %>
                    <span class="small text-muted">
                      <%= "(#{filter.facet.length})" %>
                    </span>
                  </div>
                  <div class="filter-values">
                    <ul class="selected">
                      <% filter.selected.each do |entity| %>
                        <% display = entity %>
                        <li>
                          <%= link_to display, filter.remove(entity).path %>
                        </li>
                      <% end %>
                    </ul>
                    <ul class="selectable">
                      <% filter.facet.reject(&:selected).each do |facet_value| %>
                        <% entity = facet_value.entity %>
                        <li>
                          <% display = entity %>
                          <%= link_to display, filter.add(entity).path %>
                          <span class="count">
                            <!--Cannot have inactives the filter does not work with scopes -->
                            <%= "(#{facet_value.count})" %>
                          </span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %><!--end of each do-->
              <% end %><!--end of form for facets-->
            </div>
        <div class="col-md-9"><!--List of items in page -->
          <%= will_paginate @affiliations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
	  <b> <%= @affiliations.count%> Affiliations found</b> 
	  <%= render 'affiliations_list', affiliations: @affiliations %>
	</div><!-- col right DIV: list -->
	</div><!-- row DIV: facets and list -->
	</div><!-- tab pane content-->
   <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
    <!-- Affiliations -->
    <div class="row mb-3">
        <div class="col-sm-12">
	    <div class="card">
	        <div class="card-header">
		    <h6 style= "margin:auto">Institutions</h6>
	        </div>
	        <div class="card-body p-0">
	        <div class="row">
	        <% aff_stats = InstCtryStat.all.order('inst_count desc')
             country_data = []
             aff_stats.each do |affsts|
               if affsts.country == "Peoples Republic of China" then
                 country_data.append(["China", affsts.inst_count])
               elsif affsts.country == "United States of America" then
                 country_data.append(["United States", affsts.inst_count])
               elsif affsts.country == "The Netherlands" then
                 country_data.append(["Netherlands", affsts.inst_count])
               else
                 country_data.append([affsts.country, affsts.inst_count])
               end
            end %>
		    <div class="col-sm-6 container">
		      <%= render partial: 'affiliations/affiliation_map', locals:{country_data: country_data} %>
		    </div>
			<div class="col-sm-6 container">
			    <% if Author.data_objects_count.length()>0 %>
			    <h6>Top 10 Countries of Origin</h6>
			    <%= render partial: 'affiliations/affiliation_top', locals: {items: country_data[0..9], count_name: "Institutions"}%>
			    <% end %>
			    <p>
			      <%= link_to 'Download Data', {:action => "ctry_affi_count", :controller => "affiliations"}, :class => "btn-success btn-sm" %>
			    <p>
			</div>
		      </div>
		    </div>
		  </div>
		</div><!--col-sm-12-->
	    </div> <!--row mb3 -->   
	</div>
   </div><!-- tab pane content-->
   </div><!-- tab panes group-->
</div>
