<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Affiliations</h1>
  <table>
    <thead>
      <tr>
        <th>Institution</th>
        <th>Department</th>
        <th>Faculty</th>
        <th>Work group</th>
        <th>Country</th>
      </tr>
    </thead>

    <tbody>
      <% @affiliations.each do |affiliation| %>
        <tr>
          <td><%= affiliation.institution %></td>
          <td><%= affiliation.department %></td>
          <td><%= affiliation.faculty %></td>
          <td><%= affiliation.work_group %></td>
          <td><%= affiliation.country %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
