<!--Affiliations index page -->
<div class='container'>
  <%= render 'affiliations_notice', affiliations: @affiliations %>
  <!--Tab control header-->
  <ul class="nav nav-tabs" id="browseTab" role="tablist">
     <li class="nav-item">
       <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#browse" type="button" role="tab" aria-controls="browse" aria-selected="true">Institutions</button>
     </li>
     <li class="nav-item">
       <button class="nav-link" id="indicators-tab" data-toggle="tab" data-target="#indicators" type="button" role="tab" aria-controls="indicators" aria-selected="true">Indicators</button>
     </li>   
  </ul>
  <!--tab control contents-->
  <div class="tab-content" id="myTabContent">
    <%= render 'affiliations/affiliations_browse', affi_results: @affiliations, affi_search: @search  %>
  </div><!-- tab pane content-->
   <div class="tab-pane fade" id="indicators" role="tabpanel" aria-labelledby="indicators-tab">
    <!-- Affiliations -->
    <div class="row mb-3">
        <div class="col-sm-12">
	    <div class="card">
	        <div class="card-header">
		    <h6 style= "margin:auto">Institutions</h6>
	        </div>
	        <div class="card-body p-0">
	        <div class="row">
	        <% aff_stats = InstCtryStat.all.order('inst_count desc')
             country_data = []
             aff_stats.each do |affsts|
               if affsts.country == "Peoples Republic of China" then
                 country_data.append(["China", affsts.inst_count])
               elsif affsts.country == "United States of America" then
                 country_data.append(["United States", affsts.inst_count])
               elsif affsts.country == "The Netherlands" then
                 country_data.append(["Netherlands", affsts.inst_count])
               else
                 if affsts.country != "United Kingdom"
                   country_data.append([affsts.country, affsts.inst_count])
                 end
               end
            end %>
		    <div class="col-sm-6 container">
		      <%= render partial: 'affiliations/affiliation_map', locals:{country_data: country_data} %>
		    </div>
			<div class="col-sm-6 container">
			    <h6>Top 10 Countries of Origin</h6>
			    <%= render partial: 'affiliations/affiliation_top', locals: {items: country_data[0..9], count_name: "Institutions"}%>
			    <p>
			      <%= link_to 'Download Data', {:action => "ctry_affi_count", :controller => "affiliations"}, :class => "btn btn-success btn-sm" %>
			    <p>
			</div>
		      </div>
		    </div>
		  </div>
		</div><!--col-sm-12-->
	    </div> <!--row mb3 -->   
	</div>
   </div><!-- tab pane content-->
   </div><!-- tab panes group-->
</div>
