<%= form_with(model: affiliation_link, local: true) do |form| %>
  <% if affiliation_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(affiliation_link.errors.count, "error") %> prohibited this affiliation_link from being saved:</h2>

      <ul>
        <% affiliation_link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :affiliation_id %>
    <%= form.number_field :affiliation_id %>
  </div>

  <div class="field">
    <%= form.label :doi %>
    <%= form.text_field :doi %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.number_field :author_id %>
  </div>

  <div class="field">
    <%= form.label :sequence %>
    <%= form.text_field :sequence %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.number_field :address_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
