<p id="notice"><%= notice %></p>

<h1>Affiliation Links</h1>

<table>
  <thead>
    <tr>
      <th>Affiliation</th>
      <th>Doi</th>
      <th>Author</th>
      <th>Sequence</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affiliation_links.each do |affiliation_link| %>
      <tr>
        <td><%= affiliation_link.affiliation_id %></td>
        <td><%= affiliation_link.doi %></td>
        <td><%= affiliation_link.author_id %></td>
        <td><%= affiliation_link.sequence %></td>
        <td><%= affiliation_link.address_id %></td>
        <td><%= link_to 'Show', affiliation_link %></td>
        <td><%= link_to 'Edit', edit_affiliation_link_path(affiliation_link) %></td>
        <td><%= link_to 'Destroy', affiliation_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affiliation Link', new_affiliation_link_path %>
