<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :add_01 %>
    <%= form.text_field :add_01 %>
  </div>

  <div class="field">
    <%= form.label :add_02 %>
    <%= form.text_field :add_02 %>
  </div>

  <div class="field">
    <%= form.label :add_03 %>
    <%= form.text_field :add_03 %>
  </div>

  <div class="field">
    <%= form.label :add_04 %>
    <%= form.text_field :add_04 %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :affiliation_id %>
    <%= form.number_field :affiliation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
