<p id="notice"><%= notice %></p>

<p>
  <strong>Add 01:</strong>
  <%= @address.add_01 %>
</p>

<p>
  <strong>Add 02:</strong>
  <%= @address.add_02 %>
</p>

<p>
  <strong>Add 03:</strong>
  <%= @address.add_03 %>
</p>

<p>
  <strong>Add 04:</strong>
  <%= @address.add_04 %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @address.affiliation_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
