<!-- Shared menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <div class = "container-fluid">
    <% if AppConfig.first %>
      <a class="navbar-brand" title=<%= get_home_section.name %> href="/">
    <% else %>
      <a class="navbar-brand" title="Publications Explorer" href="/">
    <% end %>
      <% if AppConfig.first and AppConfig.first.navbar_image.attached? %>
        <%= image_tag(rails_blob_path(AppConfig.first.navbar_image),height: '40') %>
      <% else %>
        <%= image_tag('default_logo.png',height: '40') %>
      <% end %>  
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto nav-pills">
        <% if get_article_section.visible %>
        <li class="<%= current_page?(articles_path) ?'nav nav-item' : 'nav-item' %>">
          <%= link_to get_article_section.name, {:controller => '/articles', :action => 'index'},
                                                {:class => "nav-link", title: "View "+ get_article_section.name}%>
        </li>
        <% end %>
        <% if get_author_section.visible %>
        <li class="<%= current_page?(authors_path) ?'nav nav-item' : 'nav-item' %>" >
          <%= link_to get_author_section.name, {:controller => '/authors', :action => 'index'},
                                               {:class => "nav-link", title: "View "+ get_author_section.name} %>
        </li>
        <% end %>
        <% if get_affiliation_section.visible %>
        <li class="<%= current_page?(affiliations_path)?'nav nav-item':'nav-item' %>">
           <%= link_to get_affiliation_section.name, {:controller => '/affiliations', :action => 'index'},
                                                     {:class => "nav-link ", title: "View "+ get_affiliation_section.name} %>
        </li>
        <% end %>
        <% if get_do_section.visible %>
        <li class="<%= current_page?(datasets_path) ?'nav nav-item':'nav-item'%>">
          <%= link_to get_do_section.name, {:controller => '/datasets', :action => 'index'},
                                           {:class => "nav-link ", title: "View " + get_do_section.name} %>
        </li>
        <% end %>
        <% if get_theme_section.visible %>
        <li class="<%=  current_page?(themes_path)?'nav nav-item':'nav-item' %>">
           <%= link_to get_theme_section.name, {:controller => '/themes', :action => 'index'},
                                               {:class => "nav-link ", title: "View " + get_theme_section.name} %>
        </li>
        <% end %>

        <% if user_signed_in? %>
          <li class= "<%= current_page?(cr_publications_path) ? 'nav nav-item' : 'nav-item'  %>" >
            <%= link_to "New publications #{CrPublication.where('status=0').count()}", 
                        {:controller => '/cr_publications', :action => 'index'}, 
                        {:class => 'nav-link', title: "New publications (#{CrPublication.where('status=0').count()})"} %>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
         <div class="dropdown flex-row flex-wrap ms-md-auto">
          <!-- dropdown for app configuration -->
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Configuration
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <%= link_to "Application", edit_app_config_path(1), {:class => "nav-link ", title: "View sections"} %>
            </li>
            <li class="<%= 'active' if current_page?(sections_path) %>">  
              <%= link_to 'Sections', {:controller => '/sections', :action => 'index'}, {:class => "nav-link ", title: "View sections"} %>
            </li>
            <li class="<%= 'active' if current_page?(organisations_path) %>">
              <%= link_to 'Organisations', {:controller => '/organisations', :action => 'index'}, {:class => "nav-link ", title: "View organisations"} %>
            </li>
          </ul>
          <!-- drop down for account -->
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            User <%= current_user.username %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => "dropdown-item" %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete }, :class => "dropdown-item" %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>

