<nav class="navbar navbar-expand flex-column flex-md-row bd-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  <a class="navbar-brand" title="Publications Explorer" href="/">
       <%= image_tag('ukchcdi_logo_sm.png',height: '40')%>
    </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
         <%= link_to image_tag('books2.svg'), {:controller => '/articles', :action => 'index'}, {:class => "nav-link active", title: "View Publications"}%>
      </li>
      <li>
         <%= link_to image_tag('users.svg'), {:controller => '/authors', :action => 'index'}, {:class => "nav-link active", title: "View authors"} %>
      </li>
      <li>
         <%= link_to image_tag('institution.svg'), {:controller => '/affiliations', :action => 'index'}, {:class => "nav-link active", title: "View affiliations"} %>
      </li>
      <li>
         <%= link_to image_tag('expert.svg'), {:controller => '/themes', :action => 'index'}, {:class => "nav-link active", title: "View experts"} %>
      </li>
      <li>
         <%= link_to image_tag('database.svg'), {:controller => '/datasets', :action => 'index'}, {:class => "nav-link active", title: "View datasets"} %>
      </li>
    </ul>
    <div class="col-sm-3 col-md-3 pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
</nav>
